[2014-03-10 17:37] michaelpigg opened #13 "Can't use Power in collection sum method"
scala> Kilowatts(10)
res0: squants.energy.Power = 10.0 kW

scala> Kilowatts(20
     | )
res1: squants.energy.Power = 20.0 kW

scala> List(res0, res1)
res2: List[squants.energy.Power] = List(10.0 kW, 20.0 kW)

scala> res2.sum
<console>:156: error: could not find implicit value for parameter num: Numeric[squants.energy.Power]
              res2.sum

[2014-03-21 16:15] non opened #15 "Generic quantities support"
It would be nice if Squants provided a parallel set of generic types for working with other kinds of numbers besides `Double`, or supported generic types in some other way.

I'm not sure exactly what this would look like, or if this is a realistic goal for the project, but there are definitely types in Spire (`Rational`, `Real`, `Complex[_]`, `Interval[_]`, and so on) that would be really useful f

[2014-03-25 13:06] michaelpigg opened #18 "Quantities don't compare right when testing with ScalaTest"
For example:

[code]

fails with

[code]

[2014-04-03 20:20] garyKeorkunian opened #19 "Create conversions for radio package"

[2014-04-03 21:26] #13 closed, assigned to garyKeorkunian

[2014-04-03 21:31] garyKeorkunian opened #22 "JSON Marshalling and Serialization Tests"
Add tests to ensure that all types support basic JSON marshalling / serialization

This may reveal the need (or desire) to create companion projects for specific JSON frameworks (ie, squants-json4s)

[2014-04-03 21:42] garyKeorkunian opened #23 "Add Tests for Numerics"

[2014-04-05 04:50] #18 closed, assigned to nobody

[2014-04-05 04:53] #23 closed, assigned to nobody

[2014-04-05 06:28] garyKeorkunian opened #27 "Improve Vector Quantities"

[2014-04-05 16:29] #19 closed, assigned to nobody

[2014-04-10 01:04] nornagon opened #36 "Microliters"
Hey! I'm replacing another measures library internally with squants, and we use microliters a lot (for biology). It'd be great to have that included by default in squants!

[2014-04-10 16:53] nornagon opened #38 "Singular versions of natural-language-style converters"
For cases like `1 minute`.

[2014-04-11 22:53] nornagon opened #42 "Temperature differences are not in °C"
I feel like `12.C - 3.C < 20.K` should work.

[2014-04-12 12:59] #36 closed, assigned to nobody

[2014-04-12 19:40] nornagon opened #45 "Provide conversions for Int in addition to Double"
[code]

[2014-04-14 01:05] #45 closed, assigned to nobody

[2014-04-29 10:07] electricmonk opened #53 "MoneyNumeric"
Money types don't have a Numeric implicit object. This seems to be hindered by the fact that `AbstractQuantityNumeric` requires a `valueUnit` instance that can apply from an Int, while money can be created from Double or BigDecimal. Alternately, I'm just missing something trivial :)

[2014-06-28 18:13] garyKeorkunian opened #64 "Update radio package"
Refactor case classes with component values to final class with single value and QuantityCompanion

[2014-06-28 18:13] garyKeorkunian opened #65 "Update Frequency"
Refactor to use single value and QuantityCompanion

[2014-06-28 18:14] garyKeorkunian opened #66 "Update motion package"
Refactor case classes with component values to final class with single value and QuantityCompanion

[2014-06-28 18:15] garyKeorkunian opened #67 "Update electro package"
Refactor case classes with component values to final class with single value and QuantityCompanion

[2014-06-28 18:50] garyKeorkunian opened #68 "Add milliampere hours and milliampere seconds units to ElectricCharge"

[2014-06-28 18:58] garyKeorkunian opened #69 "Add unapply method to all QuantityCompanions"

[2014-06-28 19:23] #67 closed, assigned to nobody

[2014-07-02 15:22] #66 closed, assigned to garyKeorkunian

[2014-07-02 15:23] #65 closed, assigned to garyKeorkunian

[2014-07-02 15:23] #64 closed, assigned to garyKeorkunian

[2014-07-02 15:56] #69 closed, assigned to garyKeorkunian

[2014-07-02 16:27] #68 closed, assigned to garyKeorkunian

[2014-07-03 21:34] #53 closed, assigned to nobody

[2014-07-04 22:20] #27 closed, assigned to nobody

[2014-07-05 02:47] garyKeorkunian opened #77 "Dimensional Conversion of Vectors"
Evaluate and implement one of the experimental strategies for applying conversions to support multiply, divide and dotProduct operations between QuantityVectors and other quantity types.

The goal is to allow for the following type of operation:
[code]

There are currently three strategies partially implemented with tests and marked as experimental.  These can be found in Vector.scala and VectorSp

[2014-07-05 04:18] garyKeorkunian opened #78 "Rename UnitMultiplier.multiplier to factor"
Factor is the term most widely used for these values in the context of dimensional analysis.

[2014-07-06 17:50] #78 closed, assigned to garyKeorkunian

[2014-07-28 20:42] nornagon opened #82 "master doesn't build"
[code]

[2014-07-30 16:20] #82 closed, assigned to nobody

[2014-09-01 08:40] leo-dur opened #84 "Kinetic energy calculations"
Hi,

I'm trying to use squants to do some kinetic energy calculations :

val v1 = Meters(1.0)/Seconds(1.0)
val m1 = Kilograms(1.0)

val ek1 = 1/2 \* m1 \* v1 \* v1
val ek2 = 1/2 \* m1 \* (v1 \* v1)

But the last two lines don't compile (ek1 because operator \* is not define between one momentum and one velocity and ek2 because operator \* is not define between two velocities).

Maybe I did somethi

[2014-12-01 04:04] #84 closed, assigned to nobody

[2015-05-26 19:15] stevebarham opened #92 "Conversion factor for bars in Pressure"
I believe the conversion factor for bars in Pressure should be 100000d, rather than 100d. This is consistent with the definition given in http://en.wikipedia.org/wiki/Bar_%28unit%29.

[2015-06-23 00:52] antonkulaga opened #96 "ScalaJS?"
Adding information in different units is a part of many user-interfaces and is often validated on a frontend. I wonder, do you have any plans of cross-releasing to ScalaJS?

[2015-07-15 20:22] rmihael commented on #96
Potentially solved by https://github.com/garyKeorkunian/squants/pull/97

[2015-07-29 22:46] nornagon opened #99 "Does not save values in the units used to create them"
[code]

This is causing havoc with serialization tests in my project (since things don't round-trip from JSON back to JSON).

The README claims that "Quantity values are based in the units used to create them", but this does not seem to be the case.

[2015-08-12 15:39] garyKeorkunian commented on #99
Hey Jeremy, sorry I missed this.  I'm some not getting the notifications I should from GitHub.

I will look into this ASAP and let you know what's going on.

[2015-08-12 15:41] garyKeorkunian commented on #99
Here is the output I get from the same calls as above:

[code]

Which version of squants are you using?

[2015-08-13 02:24] nornagon commented on #99
Ah, looks like I was using an old version. I can't seem to test on current master though, because:

[code]

[2015-08-13 20:11] garyKeorkunian commented on #99
Yes, master includes a change that supports ScalaJS.

Unfortunately it broke the sbt.console and publish features.  I am working on fixing that now, though I expect I won't have anything ready until next week.

The most recent best code prior to that change is the 0.6.0-SNAPSHOT branch.  If you're pulling down the repo, use that.

If you are using an sbt dependency in another project, I would stic

[2015-08-13 20:13] garyKeorkunian opened #101 "Fix sbt.publish and sbt.console issues"
The recent introduction of the ScalaJS, broke the publish and console features.

This needs to be corrected so that new versions can be properly published and the Squants REPL returns to normal operation.

[2015-08-13 20:55] garyKeorkunian commented on #99
@nornagon

You can make use of the master branch in the console by first changing to the squantsJVM project

[code]

[2015-08-14 01:58] nornagon commented on #99
Great, it's working now. Sorry for the noise!

[2015-08-14 01:58] #99 closed

[2015-08-17 18:57] garyKeorkunian commented on #101
This is non-issue.  Publishing and console features are available through the squantsJVM sub project.

[2015-08-17 18:57] #101 closed

[2015-08-17 18:58] #96 closed

[2015-08-17 18:58] #92 closed

[2015-08-17 19:48] garyKeorkunian opened #102 "Migrate com.squants -> org.squants"
To better reflect its open source nature, the organizational domain for the package will be migrated to org.squants.

[2015-08-20 14:34] maciej-work opened #103 "Conversion between m/s^2 and EarthGravities possibly invalid"
scala> val ok = 10.metres / second / second
ok: squants.motion.Acceleration = 10.0 m/s²

scala> val o2k = EarthGravities(10.metres / second / second)
o2k: squants.motion.Acceleration = 10.0 g

EarthGravities(ok)
res8: squants.motion.Acceleration = 10.0 g

Shouldn't this result in ~1g ? I've only just picked up the library just now, please excuse me if I'm misunderstanding something fundamental her

[2015-08-24 19:37] garyKeorkunian commented on #103
It looks like the issue here is an implicit Numeric type class is in scope for Acceleration and it's converting the value to Double in order to initialize the EarthGravity quantity.

Normally you shouldn't be able to initialize EarthGravity with an another quantity value (ok is an Acceleartion).  However, the AccelerationNumeric is in scope in the console so it is converting the "value" portion of

[2015-10-02 00:02] garyKeorkunian commented on #77
This has been addressed in the 0.6 series.

[2015-10-02 00:02] #77 closed

[2015-10-14 18:50] garyKeorkunian commented on #15
Well after a year of dabbling with this off and on I finally have a functioning prototype, which can be found in the squants.experimental package in the test code.

There is still work to do ...
   - update the QuantityRange and TimeDerivative / Integral classes to support the change.
   - port all of the Quantity Types (there are currently 55 of these).
   - create SquantsNumeric Type Classes for

[2016-02-03 16:44] DaveDeCaprio opened #116 "AreaDensity doesn't convert to Mass correctly if unit isn't KilogramsPerSquareMeter"
You don't notice this with squants itself because it squants only has the 1 AreaDensity type, but I made a couple custom ones for my app and noticed the issue.

I've submitted a pull request for the fix.[https://github.com/garyKeorkunian/squants/pull/115](url)

[2016-02-10 14:57] garyKeorkunian commented on #116
Thanks.  Sorry I missed this.  I made one simple change request on the PR.  Once that is addressed, I'll merge and publish.

[2016-02-11 13:10] #116 closed

[2016-03-10 21:40] gkthiruvathukal opened #121 "squants.information and 0.6.1-SNAPSHOT"
Hi, I'm working on a project that uses your preliminary support for storage units of measurement. When I started using same, the package was named squants.storage. Now it is squants.information.

When I try to use your snapshot builds for my own project, https://github.com/LoyolaChicagoCode/blockperf-scala, which does builds for 2.10 and 2.11 of Scala against your 0.6.1-SNAPSHOT, it seems like the

[2016-03-10 22:06] gkthiruvathukal commented on #121
If you want to reproduce this, please checkout my project above and run:

[code]

You'll see errors only for the 2.10 cross build, not 2.11 (which works fine).

[2016-03-31 13:53] rpiaggio opened #122 "Cross compile to Scala.js"
Thanks for this great library.

I kindly request to publish it cross-compiled to Scala.js so that it can be used in hybrid (Scala/Scala.js) projects.

Thank you!

[2016-04-11 14:52] garyKeorkunian commented on #121
Hello.  I apologize for delay in getting to this.  I initially missed the issue.

The package has been republished and the build you reference above is now compiling OK ( remember to run 'sbt clean' so that you force a new copy of 0.6.1-SNAPSHOT.

In retrospect, due to the package name change, I should have incremented the version.

[2016-04-11 14:53] garyKeorkunian commented on #122
Sorry for delay in getting to this.  I initially missed the issue.

I have republished the 0.6.1-SNAPSHOT with cross compile versions for JVM and Scala.js.

Let me know if it doesn't work.

Thanks.

[2016-04-11 17:57] #121 closed

[2016-04-11 17:57] #122 closed

[2016-04-19 20:59] rpiaggio commented on #122
HI @garyKeorkunian , sorry I couldn't test until now.

It seems to working just fine, thank you very much!

[2016-04-20 21:16] cquiroz opened #123 "Irradiance division"
I wanted to check if this is a bug or is it by design. On Irradiance we can divide by power as in [here](https://github.com/garyKeorkunian/squants/blob/master/shared/src/main/scala/squants/radio/Irradiance.scala#L27)

We can see that the function is defined as
[code]

however irradiance is `power/area` and dividing by power doesn't give you area but `1/area`.

Am I missing something?

[2016-04-22 18:26] garyKeorkunian commented on #123
@cquiroz Good catch.  That is a bogus conversion. It is in the process of being removed and latest snapshot should be updated soon.

Thanks!

[2016-04-23 16:34] #123 closed

[2016-05-08 00:10] nightscape opened #127 "Provide information on type level if e.g. one dimension is the product of two other dimensions"
Hi @garyKeorkunian,

I would like to use squants in a type-class based setting where it is important to keep track on a type level if e.g. two values of two different types can be multiplied to get a value of a third type.
I would like to derive something like the `CanMultiply` class in the following (hugely simplified) example:
[code]

Skimming through the code I haven't found any hint that dimen

[2016-05-08 00:32] nightscape commented on #127
Something like this could be used to track the exponents of the used dimensions on a type level:
https://gist.github.com/non/8396462

[2016-05-14 22:22] kyzn commented on #42
I think this is also related:

[code]

[2016-07-13 07:51] tonicebrian opened #132 "Why Price[Energy] is not a Quantity?"
Hi,

   I was going to code a TimeSeries class for the Energy domain enforcing that values in the timeseries must be of type `[A <: Quantity[A]]`. So far so good but then I tried to create a TimeSeries of `Price[Energy]` and it happens that a `Ratio` is not a quantity. Digging deeper I see other "Ratio" quantities like Velocity having its own non-derived types.
   Is this something by design or so

[2016-07-19 17:55] garyKeorkunian commented on #132
Hi,

It's true Price is not treated as a quantity but a ratio between Money (a quantity) and other Quantities); and that other ratios are are treated as quantities.

My thinking around these semtantics was that Price is not an "amount" of something.  That is, it's not really a quantity.  I can have an amount of money, and I can have an amount of energy, but I can't have an amount of price.  Other

[2016-07-19 20:35] tonicebrian commented on #132
The reason for the unified type was convenience. When serializing the timeseries to Json we were trying to avoid the per point unit of measurement verbosity and instead serialize Doubles and tag the whole time series from the unit of the Quantity. We've considered type classes but since our need was serialization, we've created specialized serializers, one when the type is a Quantity and several o

[2016-10-05 01:34] csprenger opened #134 "multiplication with TimeDerivative is not supported"
Would it be possible to support multiplication with a TimeDerivative like Frequency ?

here is an example:

[code]

[2016-10-05 01:43] csprenger opened #135 "problem with custom DataRateUnit"
why does the following custom DataRateUnit lead to the wrong result?

[code]

manual test code:

[code]

The third line (GibibytesPerDay) is off by a factor of 1000.

It can be corrected by

[code]

but it is a bit counterintuitive.

Is there a better way to create custom DataRateUnits ?

[2016-10-07 17:34] ryan-richt commented on #22
Not sure how you're thinking about this, but in our large project with extensive use of Squants, we have many fields that are the same unit domain type (AreaDensity say) but where we require different fields to be serialized to different specific units (field X to KilogramsPerHectare and field Y to CornBushelsPerAcre, both AreaDensity's). So while normally we'd use a simple scheme to make purely c

[2016-10-31 10:17] golem131 opened #136 "Release for Scala 2.12.0"
please

[2016-11-03 09:25] golem131 commented on #136
added PR - https://github.com/garyKeorkunian/squants/pull/137

[2016-11-03 15:31] derekmorr commented on #135
Perhaps a move intuitive way to define your custom DataRateUnit is:

object GibibytesPerDay extends DataRateUnit {
  val symbol = "GiB/d"
  val conversionFactor = Gibibytes.conversionFactor / Time.SecondsPerDay
}

This is similar to how VolumeFlow is defined (in squants/motion/VolumeFlow.scala)

[2016-11-04 22:11] csprenger commented on #135
Thanks. That is much better.

[2016-11-04 22:11] #135 closed

[2016-11-24 23:50] pocman opened #138 "MoneyContext should be abstract class"
Hi,
I'm trying to tweak the MoneyContext but being a case class make it really hard.
Could we create an abstraction ?

[2016-12-13 17:11] milessabin opened #139 "Seek new maintainers, fork into Typelevel github organization and publish under org.typelevel"
Following up on #137, this is a call for new maintainers under the [typelevel github organization](https://github.com/typelevel). Other than @garyKeorkunian the current contributors are listed as,

* Jeremy Apthorp ([nornagon](https://github.com/nornagon))
* Steve Barham ([stevebarham](https://github.com/stevebarham))
* Derek Morr ([derekmorr](https://github.com/derekmorr))
* rmihael ([rmihael](ht

[2016-12-13 17:14] cquiroz commented on #139
Hi, I'd be happy to keep squants under the typelevel umbrella

[2016-12-13 17:14] darkfrog26 commented on #139
I've already volunteered myself, so I guess I'll do so again here.

[2016-12-13 17:15] vitorsvieira commented on #139
Me too!

[2016-12-13 17:23] golem131 commented on #139
Plus me

[2016-12-13 17:26] milessabin commented on #139
@sarahgerweck you were the one who broached the topic of new maintainership ... would you like to volunteer as well?

[2016-12-13 17:35] golem131 commented on #139
@milessabin what's next?

[2016-12-13 17:44] milessabin commented on #139
1. I fork.
2. I add the people volunteering here as contributors.
3. We arrange for one of the above to be able to publish to Sonatype/Central under the "org.typelevel" organization.

On (3) I propose that person be @cquiroz if that's acceptable to everyone here.

[2016-12-13 17:45] sarahgerweck commented on #139
@milessabin I haven't worked on the code at all but I've liked this library, so yeah I'm willing to be on the list if we're setting up a pool of maintainers in @garyKeorkunian's absence. I concur that @cquiroz makes sense as the lead maintainer since he's a previous contributor.

[2016-12-13 18:47] milessabin commented on #139
Given that @garyKeorkunian has just merged #137 I'm going to hold off until he comments here.

[2016-12-13 19:06] garyKeorkunian commented on #139
Hello All,

The artifacts have been published and so you should all be able to begin using the 0.7.x-SNAPSHOT for Scala 2.12.  Updates to the 0.6 Release may still be required if anyone needs them.

I've added a couple of folks to the collaborator list and will others listed here.

Sounds like the best approach going forward is to move the project to Typelevel.  I support that, and Miles, you can

[2016-12-14 05:04] darkfrog26 commented on #42
If you want to compare numbers then you can already do so by just getting the numeric value from the type and comparing.  The purpose of this library, as I see it is a representation of comparison relating to the specific types so the way it works, in my opinion, is the only way it should work.  I'd vote to close this ticket.

[2016-12-14 08:03] golem131 commented on #139
Final, some questions:
1) who(except @garyKeorkunian) can publish artifacts to sonatype?
2) we have - #128 PR, what with him?
3) what is new milestone (0.7 or 1.0)?

[2016-12-14 08:05] golem131 commented on #139
@milessabin or @garyKeorkunian please resend me invitation to collaborators (old is not active now)

[2016-12-14 08:25] milessabin commented on #139
@golem131 invites to you and @sarahgerweck have been resent.

[2016-12-14 08:31] milessabin commented on #139
Currently the project is still using the "com.squants" artefact organization, so the only people able to publish are people with the relevant permissions for doing that.

If you would like to change that to "org.typelevel" you'll need to change your build to reflect that. I also recommend making a large enough version bump to indicate a breaking change in whatever version numbering scheme you choo

[2016-12-14 10:33] cquiroz commented on #139
@milessabin Could you summarize who has commiter rights now?

I think it makes sense to change to `org.typelevel` and probably version to 1.0 to reflect the change

[2016-12-14 10:38] milessabin commented on #139
@cquiroz I think I just did ... whoever can publish as "com.squants".

[2016-12-14 13:11] vitorsvieira commented on #136
#137 merged

[2016-12-14 13:11] #136 closed

[2016-12-14 13:12] vitorsvieira commented on #102
Closed in favor of #139

[2016-12-14 13:12] #102 closed

[2016-12-14 21:55] Green-Angry-Bird opened #144 "Some currencies have wrong number of decimal places"
The Currencies JPY and KRW should have zero decimal places (they are incorrectly set to 2 decimal places).

[2016-12-14 22:43] Green-Angry-Bird commented on #144
That was amazingly fast guys, thanks. Any idea when we can see a new version for sbt?

[2016-12-14 22:44] cquiroz opened #146 "Read currency decimals from `java.util.Currency`"
Related to #145 . The JVM has a class and method to find the decimals for each currency:

https://docs.oracle.com/javase/7/docs/api/java/util/Currency.html#getDefaultFractionDigits()

Should the decimals defined on https://github.com/typelevel/squants/blob/master/shared/src/main/scala/squants/market/Money.scala#L379 be read using this method?

I'm not sure if I want to depend on an old java class

[2016-12-14 23:03] golem131 commented on #146
@cquiroz as JDK 7 EOL now, may be better use JDK 8 API?

[2016-12-14 23:04] golem131 commented on #144
@Green-Angry-Bird after 143 will be merged, i think first release may be published

[2016-12-14 23:08] #144 closed

[2016-12-14 23:13] cquiroz commented on #146
@golem131 It is the same on jdk 1.8. Those APIs are very old on the JDK and don't change much

[2016-12-14 23:15] golem131 commented on #146
@cquiroz we can try, but what about Scala.js, for example?

[2016-12-14 23:23] cquiroz commented on #146
there is support for scala.js on https://github.com/cquiroz/scala-java-locales
Again I'm raising the issue for completness, but I'm hesitant about going this way, it maybe overkill.
Good to keep it in mind though

[2016-12-14 23:43] derekmorr commented on #146
I think it might be overkill, but I'm not opposed to it. If someone wants to submit a PR, I'll review.

[2016-12-15 02:04] cquiroz commented on #146
The more I think about it, yeah, it is probably overkill and `Currency` is not exactly a pure class. Also the dependency on `scala-java-locales` would be quite large for what we get out of it

[2016-12-15 02:04] #146 closed

[2016-12-15 12:55] golem131 opened #147 "build an publish 1.0-SNAPSHOT"

[2016-12-15 12:58] cquiroz commented on #147
👍

[2016-12-15 17:09] cquiroz commented on #147
A snapshot is already published on sonatype and could be tested

[2016-12-15 20:09] #147 closed

[2016-12-16 00:32] cquiroz commented on #139
I think this is pretty much settled. This is the current list of committers shown on the project:

@vitorsvieira
@darkfrog26
@cquiroz (admin)
@derekmorr
@milessabin
@garyKeorkunian (admin)
@golem131

Plus one invite awaiting confirmation

If you think your name is missing just let us know

[2016-12-16 20:10] darkfrog26 commented on #42
Closing this issue since no one seems to be defending the position. Please re-open if there is still something to be settled here.

[2016-12-16 20:10] #42 closed

[2016-12-16 20:17] darkfrog26 opened #149 "1.0.0-SNAPSHOT is empty"
The snapshot release JAR on Sonatype Snapshots is empty apart from the META-INF directory.

[2016-12-16 23:35] cquiroz commented on #149
Sorry about that. I think it is fixed now. I will document the steps to make a relesae

[2016-12-17 00:33] darkfrog26 commented on #149
Thanks @cquiroz it's fixed now.

[2016-12-17 00:33] #149 closed

[2016-12-19 19:57] cquiroz commented on #139
I think, this can be closed, reopen if needed

[2016-12-19 19:57] #139 closed

[2016-12-19 20:01] cquiroz opened #150 "Protect master branch"
I'd like to make the master branch protected. This way accidental commits are avoided and all the changes must come through a PR and tests must pass as well as requiring at least one approval:

https://help.github.com/articles/about-protected-branches/

What do you think?

[2016-12-19 20:02] darkfrog26 opened #151 "1.0.0 Release"
We should figure out if any of the remaining tickets need to be addressed before an official 1.0.0 release is made. I'd prefer to get this done ASAP to avoid depending on a SNAPSHOT.

Are there any tickets that specifically need to be addressed before the current status is considered "stable"?

[2016-12-19 20:03] darkfrog26 commented on #150
I agree.  With as many contributors as there are to this project nobody should be making direct commits, they should only come from PRs.

[2016-12-19 20:04] cquiroz commented on #151
👍  for a quick 1.0.0 release

[2016-12-19 20:09] derekmorr commented on #150
Agreed.

[2016-12-19 20:10] derekmorr commented on #151
Question for @garyKeorkunian : was there anything holding you back from a 1.0? Was there a vision for the project that hasn't yet been met? Are there APIs that are still in flux? I'd think users would expect the API to stay fairly stable once it hits 1.x.

[2016-12-19 20:19] garyKeorkunian commented on #151
One of the items that I've worked on sporadically over the past year or so, is to replace the Double used for the underlying value with a generic.  This would allow users to specify a more precise type, such as those available from Spire.

A sandbox for that work can be found in the /test/experimental folder.  A description can be found in the Wiki [SQUIP-1](https://github.com/typelevel/squants/wi

[2016-12-19 20:22] garyKeorkunian commented on #150
Agreed.

[2016-12-19 20:37] cquiroz commented on #150
Done!

[2016-12-19 20:37] #150 closed

[2016-12-19 21:41] derekmorr commented on #151
Agreed. I think we're good for a 1.0 release. That sort of change would be nice to see, but probably in a 2.x.

[2016-12-20 10:39] golem131 commented on #151
👍 for a quick 1.0.0 release

[2016-12-20 16:48] cquiroz commented on #151
The release is on sonatype though it seems to take a while to sync to maven central

[2016-12-20 18:49] cquiroz commented on #151
Release in complete with the artifacts available in maven central

[2016-12-21 20:23] darkfrog26 commented on #151
I believe you forgot to `+publishSigned` and only 2.12 got released.

[2016-12-21 20:25] cquiroz commented on #151
I see all of them on maven (Look for the squants dirs)

https://repo1.maven.org/maven2/org/typelevel/

[2016-12-21 20:35] derekmorr opened #156 "POM should reflect new typelevel repo"
The current POM metadata reflects the old git repo:

[code]

This should reflect the current typelevel git repo.

[2016-12-21 20:38] darkfrog26 commented on #151
Yeah, I see them, but for some reason it wasn't resolving.  I may have something screwed up in my ivy cache.  Sorry about that.

[2016-12-21 20:38] #151 closed

[2016-12-21 21:14] #156 closed

[2016-12-26 21:22] cquiroz opened #159 "Update public site"
The site at `www.squants.com` still references the old organization and version. The `gh-pages` branch contains raw html for the pages instead of a jekyll site

What do you think about migrating to `sbt-microsites` I'd really like the documentation to be typechecked with `tut`. This is also suggested by typelevel at

https://github.com/typelevel/general/blob/master/governance/membership.md

I'm no

[2016-12-26 22:50] derekmorr commented on #159
We also need to update the site to reflect the current version, 1.0.

[2016-12-26 22:52] derekmorr opened #160 "Support Rankine temperature scale"
Currently the thermal package does not support the Rankine scale. While Rankine isn't very popular, I gather it is still used in some areas, and supporting it is straightforward.

[2016-12-26 23:43] cquiroz commented on #159
Yes, that was the original motivation for this issue. Not only the version but also the new organization

[2016-12-27 14:35] #160 closed

[2017-01-01 14:34] derekmorr opened #163 "Support Troy Units and Carats"
Many industries measure mass of precious metals and gemstones in troy units and carats. We should support those units. A PR is forthcoming.

[2017-01-02 02:33] #163 closed

[2017-01-02 22:46] derekmorr opened #165 "Add stone mass unit"
In the UK, the stone (14 pounds) is commonly used to express body weight. Squants should support this unif of mass. A PR is forthcoming.

[2017-01-05 14:24] #165 closed

[2017-01-09 12:59] cquiroz opened #168 "Next release"
We have a few updates over version 1.0.0 and at some moment we should release. Any opinions on when to do it? Should we wait for more changes?

In the interim I made a SNAPSHOT release

[2017-01-09 15:12] darkfrog26 commented on #168
My belief about releases is that they should be as frequent as possible.  Meaning, as long as the code is stable and covered by tests, then release immediately when new functionality has been added.

[2017-01-09 18:25] derekmorr commented on #168
I have no more pending changes. I'm fine releasing a 1.x soon.

[2017-01-09 19:04] darkfrog26 commented on #168
Regarding version numbers 0.0.x released should be bug fixes, and 0.x.0 releases should contain new functionality, and x.0.0 releases should contain major breaking changes.  Is there agreement on this paradigm?

[2017-01-09 19:06] cquiroz commented on #168
Sounds good to me. the next release should be 1.1.0 as we have new functionality

[2017-01-10 02:06] cquiroz commented on #168
Version 1.1.0 was released and trunk set to 1.2.0-SNAPSHOT

[2017-01-10 02:06] #168 closed

[2017-01-15 18:30] rolandjohann opened #171 "Internationalization"
This library is great, but lacks the ability to output and parse internationalized strings.
Micrograms for example will be printed as `mcg` whereas it will be printed `µg` in europe.

In addition to that the german `Pfund` (pound) will be of 500 grams whereas the `pound` will be of 453.592 grams.

Maybe we can provide additional objects for this like the `UsGallons` and `ImperialGallons`.

[2017-01-18 21:15] garyKeorkunian commented on #159
I used the github.io pages feature to publish this originally, but I believe that is limited to a single site per account.  It does seem to allow multiple project pages.  It does not seem I am able to republish the readme from the typelevel/squants repo.

The currently typelevel.github.io redirects to typelevel.org.

Wherever we do eventually host the page, I am happy to maintain the squants.com/s

[2017-01-23 21:07] ALPSMAC opened #172 "Degrees Symbol is not input-friendly"
Any chance we could change the symbol used for Degrees?  Right now it appears to be defined like so:

[code]

But if you're reading input from a service and trying to convert to a valid unit (e.g. via `Angle.symbolToUnit(str: String)` ) it forces your client to specify the UTF-8  "°" symbol.  From a cursory glance it seems like most of the other units are specified in simple ascii characters.

Was

[2017-01-23 21:32] sarahgerweck commented on #172
I would vote against getting rid of `°` as a way to specify degrees—it's _the_ standard symbol. I do like the idea of having an alternate way to express it using base ASCII.

[2017-01-23 23:20] cquiroz commented on #172
You could map whatever unit name your client uses to the one used by Squants, like
[code]

It seems to me something for the caller side to decide. I guess we could have multiple symbols as some units may have more than one way to display them

[2017-01-24 01:37] ALPSMAC commented on #172
Hi Carlos,

Thank you for the suggestion.

I had thought of simply mapping the client-side field to the ° symbol (and it is a reasonable work-around), but handling the mapping from what is client input appears to be (partially) handled by Squants via that `symbolToUnit` function.

It seems logical to me that a library all about the typesafe manipulation of units would also concern itself with inte

[2017-01-24 02:24] derekmorr commented on #172
If you're reading numeric data from a file or web service, you might want to use the Degrees() constructor, or the .degrees conversion:

[code]

[2017-01-24 11:39] ALPSMAC commented on #172
Derekmorr,

I was hoping to be able to support allowing clients of my service to specify the units as part of their request... so often you have to go look in the API to verify the units of measure the service expects and then do conversions client-side to get your request to match.  I'd rather allow clients to submit their request in any unit of measure that makes sense provided we can map the sy

[2017-01-24 11:51] derekmorr commented on #172
Sure, happy to look at a PR. A cursory examination of the code shows most units have symbols in simple ASCII, with a few exceptions (angle degrees, the temperature degrees, some exponents in space and volume). My concern is making the change non-invasive and not complicating the API.

[2017-01-25 00:13] ALPSMAC commented on #172
Yeah - absolutely!  I wouldn't want to recommend something that's invasive or requires a lot of fundamental changes.  I'll fiddle with it and see if I can come up with something.  Thanks!

[2017-01-28 02:52] derekmorr opened #174 "typo in ElectricPotential"
`ElectricPotential` has a typo:
def toMi**rc**ovolts = to(Microvolts). A PR is forthcoming.

[2017-01-28 04:13] #174 closed

[2017-01-28 18:10] ALPSMAC commented on #172
After fiddling for a bit the best I could come up with was an additional field on the UnitOfMeasure trait:

[code]

I then adjusted the `symbolToUnit` function in `Dimension` like so:

[code]

I was hoping for something a little more elegant that would also allow consumers of the library to provide their own symbol overrides.  Not being terribly thrilled with what I came up with I'm not planning t

[2017-01-28 18:10] #172 closed

[2017-01-29 19:06] derekmorr opened #176 "classpath set wrong in sbt"
The classpath is broken in sbt when you run the `console` command. I'm hoping someone more familiar with sbt than me can solve this (I wonder if it's due to scalaJS and cross building).

I've started to work on tut integration, and that's failing b/c tut also can't find the squants package (so it can't check any of the examples in the README).

[code]

[2017-01-29 19:07] cquiroz commented on #176
You need to do `squantsJVM/console` to get it to work

[2017-01-29 19:24] derekmorr commented on #176
Yeah, I see that. It's frustrating, though. Is that a standard aspect of projects using scalajs?

It doesn't help with tut not being able to find the files though. I'll keep working on it.

[2017-01-29 20:33] #176 closed

[2017-01-29 22:54] derekmorr opened #177 "integrate tut to check code samples in docs"
We should integrate the tut tool to check that the code samples in the docs compile.

I've pushed a `tut` branch with a very rough first pass at this. Not all of the errors are removed (some of the operator overloading still causes errors b/c of conflicting imports), and I had to make some changes to how the OSGI settings are pulled in, which I haven't tested yet. The `tut` branch right is just to

[2017-01-30 20:24] derekmorr opened #178 "opening a console crashes the JVM b/c of excessive imports"
When I open a console from SBT, the excessive imports crash the JVM. We should prune (or just remove entirely) the imports defined in projects/Build.scala in Console.initialCommands.

% sbt
[info] Loading project definition from /Users/derek/squants/project
[info] Set current project to squants (in build file:/Users/derek/squants/)

[info] Starting scala interpreter...
[info]
import scala.language

[2017-01-30 20:29] cquiroz commented on #178
seems to work for me. I think the point of the console is to get all imports

[2017-01-30 20:33] derekmorr commented on #178
We must have different SBT settings. This happens for me on multiple machines.

I'm on OS X using sbt installed from homebrew.

`/usr/bin/java -Xms1024m -Xmx1024m -XX:ReservedCodeCacheSize=128m -XX:MaxMetaspaceSize=256m -jar /usr/local/Cellar/sbt/0.13.13/libexec/sbt-launch.jar`

If it works for you, we should compare sbt settings, and maybe update the docs to reflect that users may have to adjust

[2017-01-30 20:37] cquiroz commented on #178
I use:

[code]

I suspect `-Xss2M` makes all the difference

[2017-01-30 20:43] derekmorr commented on #178
From quick experimentation, it looks like at least 1200k is needed for the stack size (`-Xss1200k`) or the JVM crashes.

[2017-01-30 20:44] cquiroz commented on #178
Ok, that's interesting, I wonder why imports would do that

[2017-01-30 20:46] derekmorr commented on #178
I'm wondering if it's all the implicit conversions? I'm not really an expert in this area.

[2017-01-30 20:48] cquiroz commented on #178
I got the same idea, but as you I don't know, perhaps there is some recursive implicit resolution done on import?

[2017-01-30 20:52] derekmorr opened #180 "remove unfinished syntax from README"
The Readme contains references to unfinished syntax. The code sample doesn't compile, and should be removed.

The text in question:

#### Dimensional conversions within Vector operations.
NOTE - This feature is currently under development and the final implementation being evaluated.
The following type of operation is the goal.

[code]

The code sample doesn't compile:
[code]

[2017-01-30 21:01] derekmorr commented on #178
It looks like it's because they're all imported at once. I just tried opening a console with no imports, then copy/pasting the import statements into the REPL in small chunks. They all imported without crashing the JVM.

[2017-01-30 21:03] derekmorr commented on #178
Actually, even if I copy/paste the entire initialCommand string at once, it still works. So perhaps it's something strange about how sbt launches the console?

[2017-01-30 21:04] cquiroz commented on #178
Weird, but I guess it would be good to put a comment on the README

[2017-01-30 21:06] derekmorr commented on #178
I'll try out some other platforms later today. If a 2 MB stack works, I'll submit a PR for the docs.

I'll cancel the PR to remove the initialCommands.

[2017-01-31 00:47] derekmorr opened #182 "Invalid code from README"
In the "Natural Language DSL" section of the README, I can't get some of the code sample to compile:

Quoting:

Implicit conversion support for using Double on the left side of operations

[code]

The first two examples don't work for me in the REPL:

[code]

[2017-01-31 00:48] derekmorr commented on #182
I suggest we remove these from the README, unless we're missing an import that makes them work.

[2017-01-31 14:53] derekmorr commented on #182
The first example isn't valid anymore (after #133 ):

[code]

Still not sure how `Int / Time` would become a `Frequency`, but `10 * 4.MW` compiles, so I guess I'm missing an import somewhere.

[2017-02-07 15:31] cranst0n opened #184 "Dimension.parse visibility"
Is there a reason why `Dimension.parse` is marked as `protected`? Asking because I'm in a situation where if it were public, a lot of boilerplate would disappear for me.

[2017-02-07 15:34] cquiroz commented on #184
I don't see a strong reason why it should be protected. If you have a good reason to make it public we should consider it

[2017-02-07 21:04] leifwickland commented on #184
Alternatively, you could add a public `def apply(a: Any): Try[A] = parse(a)` to `Dimension` to avoid having two equivalent methods in the public API of the `Dimension` subclasses while providing the uniformity @cranst0n seeks.

[2017-02-07 21:38] derekmorr commented on #184
leifwickland's suggestion seems the least invasive.

[2017-02-07 21:51] leifwickland commented on #184
@derekmorr My suggestion probably more invasive since it means updating every subclass of `Dimension` to remove the boilerplate `def apply = parse _` line.

[2017-02-08 00:58] derekmorr opened #185 "Xlint warnings"
If you enable Xlint, the compiler complains about automatic tuple-ization in the tests:

[code]

It also complains about declaring an Exception inside a package object:

[code]

We can't fix this without breaking the public API, but we can fix the warning in the tests. A PR is forthcoming.

[2017-02-08 03:18] derekmorr commented on #184
Ah, yeah, you're right. I was thinking in terms of exposing formerly internal methods. It would also break binary compatibility.

I like the idea of removing boilerplate from the `Dimension` sub-classes, but at least during 1.x we should probably make `parse` public.

[2017-02-08 03:22] leifwickland commented on #184
Friendly reminder: if you make `parse` public, please remember to add a
return type annotation.

On Feb 7, 2017 20:18, "Derek Morr" <notifications@github.com> wrote:

[2017-02-08 14:15] cranst0n opened #189 "Temperature Parsing Improvements"
The regex used to parse temperatures may benefit from some tweaks. See [here](https://github.com/melrief/pureconfig/pull/111) for some context.

[2017-02-08 17:54] #185 closed

[2017-02-08 18:39] #180 closed

[2017-02-08 18:42] cquiroz opened #191 "Release 1.2.0"
It seems we have several improvement for a new release. Please let me know if you are ok making a next release or if we should wait for some changes

[2017-02-08 18:45] derekmorr commented on #191
I have few small changes in the queue which I'll submit this week:

* tut integration
* more doc fixes
* more compiler warning fixes (unused imports, ignored values, etc)
* change default compiler warning flags

None of these are a blocker, so we absolutely need to get 1.2.0 out this week, that's fine.

[2017-02-08 18:46] cquiroz commented on #191
I don't think there is an urgent hurry, unless some of our latest contributors need a release soon

Otherwise we can wait

[2017-02-08 18:48] derekmorr commented on #191
We also need to decide how to resolve #184 so that @cranst0n can release pureconfig-squants.

[2017-02-08 19:23] cranst0n commented on #191
It's not really a blocker for the pureconfig stuff. I've already got a PR that has a lot of machinery but certainly works.

[2017-02-08 19:25] #178 closed

[2017-02-08 21:43] #189 closed

[2017-02-09 03:03] derekmorr opened #193 "Enabled stricter compiler flags"
We should enable several compiler flags to improve code quality. Specifically:

-unchecked
-Xfuture
-Ywarn-dead-code
-Yno-adapted-args
-Xlint:missing-interpolator
-Ywarn-unused
-Ywarn-unused-import
-Ywarn-numeric-widen

[2017-02-10 12:12] derekmorr opened #196 "Handle SBT JVM options automatically"
In #188 I added docs for how to increase the JVM stack size so that the console works. This required the user to type extra commands.

We should handle this automatically by using `.sbtopts`. This makes for a better experience for the user.

[2017-02-10 14:23] #196 closed

[2017-02-11 14:43] derekmorr opened #198 "Parsing tuples only works if the value is a double"
According to the README, this should work:

[code]

but it doesn't:

[code]
`Dimension.parse()` only works on `Tuple2[Double, String]` : https://github.com/typelevel/squants/blob/master/shared/src/main/scala/squants/Dimension.scala#L58

[2017-02-11 15:31] derekmorr commented on #198
Looks like this code never worked - https://github.com/typelevel/squants/commit/5d401bbfd21d2926a0d02b86c1b6af0f949bbaa0#diff-267437a6f42ae1f1a3b818a848f30a3e

It looks like Scala doesn't widen numeric arguments when they're part of a tuple.

[2017-02-11 15:34] cquiroz commented on #198
I guess we should take that out of the README

[2017-02-11 15:47] derekmorr commented on #198
Well, I'm trying to find a way of fixing it.

The quick and dirty approach is something like this:

[code]
which just seems silly. We should be able to use a numeric typeclass, but my scala-foo is failing me.

I'm not sure how to rewrite the match to require a `Numeric` instance for the first element of the tuple. I tried something like `protected def parse[N](value: Any)(implicit numeric: Numeric

[2017-02-11 16:40] derekmorr commented on #198
Another approach would to get rid of the `Dimension.parse()` function, make `Dimension.parseString()` `Dimension.parseTuple()` protected, and have the Dimension subtypes override apply and call into them directly.

For example:

[code]

then in the REPL this works:

[code]

This approach breaks binary compatibility. On the upside, we make the `apply()` functions more similar to the implicit conver

[2017-02-11 21:24] #198 closed

[2017-02-14 18:29] garyKeorkunian commented on #182
There are implicits in the package.scala file that enables support for ops that lead with native numeric.  See SquantifiedDouble, SquantifedLong and SquantifiedBigDecimal.  Importing these should make the examples work.

In code, this should happen automatically.  In the console, however, you may need to import them explicitly.

[2017-02-14 18:33] garyKeorkunian commented on #184
The original intent of parse was to be used for initializing quantities with the string (ie, Length("10m").  It is that apply method that was intended to be part of the public API.  The parse method is really a helper function.  As I worked on pre-release version, I was trying to minimize exposing methods publically, that may have been refactored later.

That said, I see no reason that in can't be

[2017-02-14 18:56] derekmorr commented on #184
My concern with making `parse()` public is that I think parse needs some work. We ran into a bug over the weekend where the docs were wrong regarding parsing tuples ( #198 ). I sketched out some proposals to rework `parse()` to use the numeric typeclass, but that wasn't possible without breaking compatibility.

OTOH, since we already fixed the bug, and we can't change the API until 2.x, maybe we s

[2017-02-14 19:03] derekmorr commented on #182
Do you mean `SquantifiedDouble`, `SquantifiedLong`, and `SquantifiedBigDecimal` ?

`squants._` is imported into the REPL by default. The examples in the scaladoc work fine:

[code]

But the `60 / second` example from the readme doesn't work. That one uses `/` but the implicit classes only have `*` defined.

[2017-02-14 21:32] cquiroz commented on #184
I guess minimizing the public API is a good goal, as you say it makes it easier not to break source compatibility

[2017-02-17 13:16] #182 closed

[2017-02-17 14:09] #177 closed

[2017-02-24 16:09] #191 closed

[2017-03-01 12:11] derekmorr commented on #184
I'm going to close this. pureconfig-squants was released without it, and we didn't merge it for 1.2.0.

[2017-03-01 12:11] #184 closed

[2017-03-01 12:56] cquiroz commented on #184
👍

[2017-03-27 20:45] darkfrog26 opened #212 "Best Unit For"
I've been using a little utility class I wrote that I think would make a lot of sense if the concept were integrated on global level in Squants:

[code]

This is explicitly defined currently for `Information` (file sizes) but could be implemented for everything. The biggest hurdle for this would be the necessity of having an ordered representation of levels (see `conversions` above).

[2017-03-27 20:47] darkfrog26 commented on #212
To clarify the use-case I use it to determine the "best unit" before I format the value for output:

[code]

[2017-03-27 20:54] derekmorr commented on #212
I'm not sure the best way to implement this. For example, here you're using the base-10 sizes, but a user might also want base-2 (Kibibytes, Mebibytes, etc). The same would apply for imperial vs metric units, for example.

I like the idea, I'm just not sure how to integrate it without requiring the caller to specify a list of conversions. If we had a better concept of groups of units in squants (C

[2017-03-27 21:24] darkfrog26 commented on #212
I agree, I was tossing this out more for feedback than anything.  If it were trivial I would have just submitted a PR. ;)

[2017-03-28 19:09] garyKeorkunian commented on #212
How about something like this:

[code]

This would be a method of the Quantity class.  It provides a set of overridable defaults to make basic usage simple, yet can be customized with a specific range, limited set of units, and a default if no unit in the `units` results in a value within the range.

Basic usage is limited by the fact that the `dimensions.units` list is not strictly ordered (altho

[2017-03-28 19:19] darkfrog26 commented on #212
I like that Gary, but my only problem is that Squants should be able to provide a default of units available.  I understand for certain types that's going to need overrides (like meters vs feet), but Squants should at least provide a default set of units.

[2017-03-28 19:21] darkfrog26 commented on #212
My biggest frustration with Squants that this would help solve is formatted output of values.  For example, my common scenario is that I'm storing a `Long` of bytes and want to format the output but don't want to show 9,876,543 bytes, I'd like Squants to be able to determine the best unit and format the output for me.

[2017-03-28 19:24] sarahgerweck commented on #212
I've written code to do things like this, and there are some interesting cases that can emerge, especially with non-SI units. For example, I think most people would find `62.4 s` preferable to `1.04 min`.

[2017-03-28 19:25] garyKeorkunian commented on #212
So the default value for the `units` parameter in the method above is Quantity.dimension.units, which is the full list of units for that type.  Or did I misunderstand your comment?

Here's the result of the example you provided.

[code]

[2017-03-28 19:28] garyKeorkunian commented on #212
@sarahgerweck I agree that time is a bit different that most other dimensions.  I could imagine a variety of formats being desired:

62.4 s could be represented as
1.04 min
1 min, 2.4 s
00:01:02.24

[2017-03-28 19:29] darkfrog26 commented on #212
Sorry, Gary, that's me skimming over your response.  You're absolutely right, that will work great.

@sarahgerweck perhaps `inBestUnit` should also take an optional `determinator` function that can allow customization based on your specific needs?  This would allow a simplified default but with the ability to support more explicit use-cases?

[2017-03-28 19:30] darkfrog26 commented on #212
@garyKeorkunian I think her point isn't the output but the unit.  Should `62000.ms.inBestUnit` be `seconds` or `minutes`?  There's an argument to be made for both.

[2017-03-28 19:34] garyKeorkunian commented on #212
@darkfrog26 Ah, yes.  That is a bit more complex in that another rule are needed, perhaps implemented as the `determinator` you mentioned.

[2017-03-28 19:37] darkfrog26 commented on #212
Instead of a `Set` for unit of measure a list with the largest representation first would make it far easier to define your own implementation of `determinator: (value: Double, unit: UnitOfMeasure) => Boolean`.

[2017-03-28 19:37] darkfrog26 commented on #212
That would allow `inBestUnit` to iterate over the units from largest to smallest until it finds a match with `determinator`.

[2017-03-28 19:41] garyKeorkunian commented on #212
Interesting, but wouldn't then push most of the logic back into the app code.  The determinator would need to implement the checks itself, wouldn't it?

What would that look like?

[2017-03-28 19:43] sarahgerweck commented on #212
I like @darkfrog26's idea—if there's an easy way to have a default implementation that does something like this:
[code]
Otherwise yeah, it pushes too much work back to the client. Every time I've personally written code to do this, it's followed the pattern of walking up (or down) the hierarchy of candidate units.

I don't really want my scenario to be the perfect that's the enemy of good here. I

[2017-03-28 19:48] darkfrog26 commented on #212
[code]

I don't have the code in front of me so forgive some potentially crappy assumptions, but that's the general idea.  For most people it could be used exactly as @garyKeorkunian's initial example, but it would allow much greater customization through `determinator` if desired for people that would like that.

[2017-03-28 20:16] derekmorr commented on #171
Hi,

Adding support for pfund is straightforward -- it's just adding a new `MassUnit` object to `Mass.scala`. I can make up a PR for that if you need it.

We currently only support one symbol for each `UnitOfMeasure`. Adding support for multiple would be a more involved PR. I can look into supporting that if you need it, but we'd also need to integrate with a locale library to get locale-specific

[2017-03-28 20:21] derekmorr commented on #212
We'll have to provide dimension-specific adjustments to `units`. In the last few releases we've added in some historical measurements which we probably want to exclude by default. For example, in Mass, there are TroyGrains, Pennyweights, Tolas, etc.

[2017-03-28 20:22] cquiroz commented on #171
New units seem fine, I'm not sure Internationalization is something that should belong to squants, at last not to the core. We could have a `squants-i18n` module

[2017-03-28 20:26] derekmorr commented on #171
We've run into i18n issues before, for example #144. This might be a similar issue.

With regard to "mcg" vs "µg", we're not consistent on that. We use the "µ" prefix in many units:

[code]

Since the two prefixes have the same meaning, it might be worth seeing if we can support parsing both.

[2017-03-28 20:29] sarahgerweck commented on #212
Some kind of `var canonical: Boolean` might be a way to deal with the issue @derekmorr raised.

[2017-03-28 20:43] derekmorr commented on #212
Here's a hacked-up version that compiles:

[code]

It has weird usage though:

[code]
Because we have multiple argument lists we have to insert empty parens. It's usable, but could use some cleanup.

[2017-03-28 20:45] sarahgerweck commented on #212
Just a note that something that statically sets `min` and `max` will pretty much only work for SI units. E.g., it really can't be used for things like seconds/minutes/hours/days or inches/feet/miles.

[2017-03-28 20:49] derekmorr commented on #212
Yup. It also breaks base-2 `Information` types (Mebibyte, Gibibyte, etc):

[code]

instead of:

[code]
I have a sneaking suspicion that this is going to weed its way through large parts of the code base by the time its over.

[2017-03-28 20:55] derekmorr commented on #212
Oh, this totally breaks for temperatures:

[code]

[2017-03-28 20:56] sarahgerweck commented on #212
Here's a mock of another algorithm that might be a reasonable approach:

[code]

[2017-03-28 21:01] sarahgerweck commented on #212
Probably there will need to be something like `to(u).abs > 1.0` to handle negative values.

[2017-03-28 21:14] sarahgerweck commented on #212
Also, probably the default, rather than just `dimension.units`, would be something like `dimension.units.filter(_.canonical)` using a new flag, like the one I mentioned above, that excludes things like pennyweights & grains.

[2017-03-28 21:32] derekmorr commented on #212
The more I think about it, I think we're conflating conflating here. I'm not sure this functionality belongs in a core data type like `Quantity`. I'm also not sure it's applicable to all Quantities in the library (temperature for example).

It seems like a presentation issue. I think we should separate the concerns and make a new Presenter (or Formatter) class with this functionality.

[2017-03-28 21:37] garyKeorkunian commented on #212
@derekmorr Yes, the multiple arguments lists does make the using a bit weird.  That was the only way I could get it to compile as well.  And yes, Temperatures may not a good use case for this; or Currency for that matter.  I think that's up to the App Dev to decide when it's appropriate to use.

I do think the base-2 units on Information could be handled by passing in only those units.

Here's ano

[2017-03-28 21:39] sarahgerweck commented on #212
@derekmorr you're right that it feels more like a separate concern. I think there _is_ a core functionality gap of making it easy to get a list of canonical units in a sequence that ascends (or descends) by size. This would be a building block for a lot of functionality along these lines, including things like unit pickers, etc.

As is my code example, if you already have a sorted list of standard

[2017-03-28 21:45] derekmorr commented on #212
I think if we have a function with 5 arguments (each of which has defaults), then we really want a trait or a class.

I agree with @sarahgerweck that once we've done the hard part (getting units), the rest is fairly easy. It's picking the right set of units that is difficult. For a while now, I've been wanting to restructure the units into module so that we don't have so many disparate quantities

[2017-03-29 00:10] derekmorr commented on #212
I hacked up a super rough proof-of-concept:

in `shared/src/scala/squants/formatter/Formatter`:

[code]

And in `shared/src/squants/formatter/AstroUnitFormatter.scala`:

[code]

This obviously needs to be factored out into some sort of `DefaultFormatter` trait that extends `Formatter`. But it lets us do this:

[code]
If we factor out the logic in `bestUnit()` into a default implementation trait, w

[2017-03-29 00:24] derekmorr commented on #212
Something like this:

[code]

[2017-03-29 13:43] garyKeorkunian commented on #212
I agree we are likely conflating concerns.  @derekmorr I like your approach, but perhaps the subsets of units should be defined outside of the Formatters, as that is just one use of such lists.  Perhaps we can create objects for various types of units and add the lists there.  Something like ...

[code]

[2017-03-29 13:58] derekmorr commented on #212
That looks good to me. I should have some time tonight to put together a basic version. I'll push to a branch when it's working.

[2017-03-31 14:01] garyKeorkunian commented on #138
@pocman I am beginning to take a look at this.  This should be easy enough to do. What you're trying to tweak?  I'd like to keep your use cases in mind and perhaps base the tests on them.

[2017-03-31 16:30] bsoufflet opened #214 "Manage multiple dimensions in a single method"
The following method do not compile because of the error display in comment below.
Is there a way to fix this method without doing a `.asInstanceOf[Seq[T]]`?

[code]

Thanks !

[2017-04-01 20:48] derekmorr commented on #212
I've made progress on this but don't quite have something ready to push up yet.

I wonder how we want to handle Quantities with only a single UnitOfMeasure. For example, `Conductivity` only has `SiemensPerMeter` defined. `ElectricalConductance` only has `Siemens`; `MagneticFlux` only has `Webers`, etc. Do we defined sets with only a single member or just not bother?

[2017-04-02 18:31] garyKeorkunian commented on #212
I guess it depends on the abstractions you are creating if any.  Will "BestUnitFor" require a certain new type?  If so, I expect it couldn't be used for these dimensions if it weren't defined.  If it just depends on a collection of units, then we may be able to just use the Conductivity.units value as is.  If that list grows into a variety of unit types, then we can add those lists then.

[2017-04-02 18:41] garyKeorkunian commented on #214
The primary intention of squants is to ensure that dimensional operations are typed in accordance with the rules of dimensional analysis.  This generally means that application code should know the Quantity types it is dealing with.

Your example is essentially a factory that could return any type of quantity.  Once you have those quantities, what would you do with them?  How would know what you c

[2017-04-02 22:07] bsoufflet commented on #214
Hi, you will find below some context.

I am working on an application which display different types of measure (Temperature, voltage, pressure, ...) on charts. There are 30 different types of measures with different units.

The frontend application is asking to the Scala backend for a specific data-serie (one single parameter) and the backend will return this data-serie as JSON. In the process the

[2017-04-06 11:09] bytecodeguru opened #216 "Money rounding mode"
Looking at the code I've noticed that `Money.toString` uses the explicit rounding mode `HALF_EVEN`, while `Money.toFormattedString` does not. Is this the intended behaviour?

Speaking about rounding modes, I'd find useful a method to apply rounding to a `Money` instance. What I'm doing in my code right now is something like this:

[code]

This may be useful to apply rounding in calculations on pur

[2017-04-06 15:05] garyKeorkunian commented on #216
It appears the missing mode on toFormattedString was an oversight.

In fact, these may be switched.  I think toFormattedString should apply the rounding, but toString should not - it should include the fully precise value.  Thoughts on this?

I'll also take a look at the rounding method as well.  It may be useful for any Quantity.

Quantities do have a map method that allows you to perform any ope

[2017-04-06 15:17] bytecodeguru commented on #216
I have mixed feelings on this. For symmetry I'd like to see no loss of precision between `Money.toString` and `Money.apply(s: String)`. And for the principle of least surprise I'd like to see the same amounts when printing with `.toFormattedString` and `.toString`, or at least document explicitly the intended different behaviour.

[2017-04-06 16:07] garyKeorkunian commented on #216
@bytecodeguru Hmm?  So, if there should be no loss of precision with toString and toFormattedString should be the same, doesn't that mean no rounding should be applied to either of these methods?

The idea behind toFormattedString is (or should have been) that the output is formatted to the standard of that currency, applying rounding as necessary.   So ...

[code]

[2017-04-06 16:16] bytecodeguru commented on #216
You are right, and I think that we agree on this:

- `.toString` should _not_ apply rounding.
- `.toFormattedString` should apply rounding and have a better documentation about its behaviour.

[2017-04-06 16:51] bytecodeguru commented on #216
I am looking at a way to create a Money.map that apply transformations directly to the BigDecimal.

The `.map` method imho is leaking an implementation detail. That's the reason I would still prefer to have a `.rounded` method. What is the current status of [SQUIP 1](https://github.com/typelevel/squants/wiki/SQUIP-1:-Generic-Type-for-Underlying-Quantity-Value)?

[2017-04-06 16:54] garyKeorkunian commented on #216
Yes, I agree a rounded method makes sense.

Some experimentation has been done around SQUIP 1, but nothing definitive yet.  At best, that may find itself in a 2.x release as it would break binary compatibility.

[2017-04-06 21:43] #216 closed

[2017-04-07 14:47] garyKeorkunian commented on #214
If you need to unit conversions you will need the specific quantity types to do that.  Once that is done, you can transform to JSON using a format that is unified among types and respond with that to the UI.

Therefore, I think the collections you are building (pre unit conversion) need to be for each specific type.  I assume you are pulling those from a DB of sorts.

I don't think a generic metho

[2017-04-07 17:03] garyKeorkunian commented on #138
As this would break binary compatibility, this will be slated for the 2.x series.

[2017-04-07 17:33] garyKeorkunian commented on #103
The issue described here is that the implicit numerics for each quantity allow user code to create quantities of any type and initialize them with another type.  The implicit converts the initialization quantity to a number which then is used to seed the new quantity.  For example,

[code]

In the code above, when initializing `SquareMeters` with `length`, the implicit `LengthNumeric` is transform

[2017-04-07 17:33] #103 closed

[2017-04-09 18:27] #134 closed

[2017-05-01 13:56] bbarker opened #228 "Add support for longer units of time"
I'd be happy to tackle this but wanted to run it by others first. I'm primarily wanting:
Weeks (28 days), Months (30 days), Years, GregorianYears.

Others that I may include while at it:
Decade, Century, Millennium, and Fortnight (mostly for fun on this last one!).

Any comments/suggestions welcome.

[2017-05-01 19:09] bbarker commented on #84
Curious if it would be good to open an issue for discussing the more general issue of intermediate non-quantity values, or has this been resolved in some form?

[2017-05-01 19:15] cquiroz commented on #228
This got me wondering, months could be anywhere from 29-31 days, How'd you handle that
Even years vary and not only by being leap years

[2017-05-01 19:25] bbarker commented on #228
That's why I mentioned Year vs GregorianYear (the first is 365 days, the second is a bit off and would be defined down to the second to account for the average length of a year). Month is standardized at 30 days, I believe - if folks or looking for lengths of days for particular months, they would probably want to use a calendar library.

[2017-05-01 20:15] derekmorr commented on #228
Do you have a use case for this, or is this just a general request for enhancement? Trying how to understand where to define a boundary between squants' time units and a calendar library.

[2017-05-01 20:20] bbarker commented on #228
I do have an application that makes heavy use of Months, and somewhat
frequent use of Weeks and Years.

On Mon, May 1, 2017 at 4:15 PM, Derek Morr <notifications@github.com> wrote:

--
Brandon Barker
brandon.barker@gmail.com

[2017-05-02 02:37] bbarker opened #229 "Problem using squants typeclasses"
I had the following odd situation when switching to Linux:

[code]

This simple use of the type classes in squants yields the error:

[code]

The same code was working for me earlier today on Windows (and in a much larger project). I've tried various releases of Squants (1.2.0, 1.3.0-SNAPSHOT), and Scala 2.11 and 2.12:

https://github.com/bbarker/ProjectGists/tree/master/Scala/SquantsConversions

[2017-05-02 03:09] derekmorr commented on #229
This looks like a scoping issue. I can make the above code compile on Linux (Mint 18) if I chance it to this:

[code]

or to this:

[code]

[2017-05-02 12:18] bbarker commented on #229
That works for me, though I don't quite understand why yet. Also, removing the wildcard import for `squants.time` seems to work:

[code]

[2017-05-02 20:28] bbarker commented on #229
OK, nothing to do with Linux! I has misinterpreted the issue. I had gone all day on my Windows system without actually building as I was just initiating a major refactor using squants. IntelliJ doesn't actually notice the issue.

[2017-05-03 16:18] bbarker opened #230 "Unsafe conversion of units possible"
IMO, it shouldn't be easily possible to transform a Time value into another Time value that represents a different quantity. I accidentally wrote something analogous to the following in a large code base, which, led me on a bit of a chase:

[code]

This yields as output:

[code]

I assume this compiles because `Time` is also a `Numeric`, and compiling is in principle fine - but not sure why it cha

[2017-05-04 01:09] bbarker opened #231 "MoneyNumeric appears to not behave correctly"
[code]

Uncommenting `val moneySum = moneyList.sum`  results in:

[code]

As can be seen, the same problem does not exist for massSum.

[2017-05-04 03:55] derekmorr commented on #231
This is documented behavior of `MoneyNumeric`. From the Readme:

The MoneyNumeric implementation is a bit different than the implementations for other quantity types in a few important ways.

MoneyNumeric is a class, not an object like the others.
To create a MoneyNumeric value there must be an implicit MoneyContext in scope.
The MoneyContext must contain applicable exchange rates if you will be a

[2017-05-04 12:22] derekmorr commented on #231
Just to clarify, the reason for the difference in behavior is that money operations might require access to the exchange rates.

For example, `List(5.miles, 3.kilometers).sum` works b/c the conversion factor for miles and km is known at compile-time. But `List(5.USB, 3.EUR).sum` requires an exchange rate, hence the need for money context.

We might be able to special-case when we're adding the sam

[2017-05-04 15:27] bbarker commented on #231
Thanks for the explanation! I'll give it a try soon; meanwhile, not sure if it makes sense to leave the issue open - happy if you close it, unless you want to update the description to match the functionality for 2.x.

[2017-05-04 15:29] derekmorr commented on #231
Ok I'll close it.

[2017-05-04 15:29] #231 closed

[2017-05-08 11:40] cquiroz opened #232 "Next release 1.3.0"
We have several important changes in the code and on PRs. We should plan to do a release once #215, #219 and #227 are merged

[2017-05-11 12:31] bytecodeguru opened #233 "How to use Percent with Money"
Use case: add tax percent to net money amount.

Instead of using `BigDecimal`:
[code]

Is it possible to improve the example using `Percent`?

[2017-05-12 02:49] garyKeorkunian commented on #233
@bytecodeguru So the idea would be that you could do this?:

[code]

[2017-05-12 12:46] garyKeorkunian commented on #233
I think this speaks to a bigger idea.  Dimensionless values should be able to be used in any operation where standard numeric types can be used.

It seems to me that if we create an implicit conversion from Dimensionless to Double available, that should do the trick for this use case and many others.

Thoughts?

[2017-05-12 14:58] bytecodeguru commented on #233
Yes, I feel the same. This calls for something bigger than my use case.

I like your solution idea, but perhaps it should disallow expressions like

[code]

and it should pay attention to Money's implementation that depends on BigDecimal rather than Double.

[2017-05-12 15:14] garyKeorkunian commented on #233
Yes, your first example here would not be allowed, even with the conversion, as you can not add a Dimensionless nor a Double to a Money (or any other dimensional value).

The second example is currently allowed as Percent and Dozen are both Dimensionless values.  The result would be 24.42.each.  It's syntactically valid, even if semantically strange.

I've done the work on this already and will ha

[2017-05-12 15:25] garyKeorkunian commented on #230
@bbarker You are correct.  This issue is the result of the Numeric implementation.  The behavior is described in Issue #103.

It is a significant issue.

I think the real solution to this is found #15.   The intended solution would introduce a new type of numeric (SquantsNumeric) that would be used initialize quantity values and deprecate using Numeric for that purpose (QuantityNumerics could stil

[2017-05-18 17:37] derekmorr commented on #212
#234, #235, #239, and #240 should have fixed this. Are folks in agreement?

[2017-05-18 18:24] cquiroz commented on #212
I agree

[2017-05-19 14:33] cquiroz commented on #232
Should we start releasing now that there are no PRs pending?

[2017-05-19 15:02] derekmorr commented on #232
I have to push docs for formatters. Meant to get to that last night but ended up working on pureconfig. I'll get to it tonight.

Do we want to try to fix any other issues for this release?

[2017-05-19 15:10] cquiroz commented on #232
It is up to us, at least personally i don't have the need to fix any of them

[2017-05-21 14:54] derekmorr opened #242 "QuantityRange throws spurious exceptions"
`QuantityRange` requires that `upper` is strictly greater than `lower`, but the exception it throws claims upper must be >= lower:

[code]

We should either fix the conditional check or the error message.

For reference, the Scala standard library, doesn't work when lower == upper:

[code]

So perhaps we should leave the conditional in place and change the error message.

I'd like to get this fixe

[2017-05-21 15:08] derekmorr opened #243 "Inclusive variant of QuantityRange"
We should have an inclusive variant of `QuantityRange` (i.e., one that includes its upper bound). Currently this is not the case:

[code]

We should also add an appropriate function to `Quantity` to construct inclusive ranges. Unfortunately, this presents a backward-compatibilty problem. In the scala standard library, `to` creates an _inclusive_ range and `until` creates an _exclusive_ range. Curr

[2017-05-21 19:19] cquiroz commented on #242
Ideally we wouldn't be throwing exceptions on the constructor

[2017-05-24 20:40] derekmorr commented on #232
Did we want to fix #242 and #243 in 1.3.0 or wait?

[2017-05-24 20:43] cquiroz commented on #232
Given that you reported those I'll leave it to you to decide if you want to submit PRs for those. I can make a release any time

[2017-05-24 21:07] derekmorr commented on #232
I have a use for them in projects at work, and they look like a quick fix. If I get to it tonight, I'll push up a PR, but if I don't get to it by Friday, I saw we release 1.3.0 without them.

[2017-05-24 21:08] cquiroz commented on #232
sure, we can wait

[2017-05-25 13:46] derekmorr commented on #243
This isn't needed. I didn't realize that `.contains()` and `.includes()` have different behavior. I updated the docs to reflect this in #247.

[2017-05-25 13:46] #243 closed

[2017-05-25 13:47] derekmorr commented on #212
I'm going to close this for now. I've marked the "best unit for" functionality as experimental for the 1.3 release. Once I get some feedback from users, I'll remove the experimental flag.

[2017-05-25 13:47] #212 closed

[2017-05-25 14:50] #242 closed

[2017-05-25 15:31] #232 closed

[2017-05-26 14:16] derekmorr opened #249 "Break up docs"
The existing README is way too long. Let's break it up into smaller files with only a basic overview and getting-started guide in the main README.

[2017-05-31 12:04] derekmorr opened #251 "Stabilize string output of DefaultFormatter"
DefaultFormatter includes the object hash in its output. We should remove that so we don't churn the docs everytime we do a build.

[2017-05-31 14:21] derekmorr opened #252 "implement unimplemented functions & make new types"
We have several undefined functions and partial functions in squants. We should fix these for the next release:

[code]

Not all of these can be implemented (the ones in `Money` for example), but for many of the rest we should just get it done. This can be spread across multiple maintainers so the burden doesn't fall on one person.

[2017-06-06 08:14] camjo opened #253 "Loss of precision when converting types"
Converting a type to another type can affect the precision of the value.

e.g.
Grams(5).in(Kilograms)
// squants.mass.Mass = 0.005 kg

Grams(5.1).in(Kilograms)
// squants.mass.Mass = 0.0050999999999999995 kg
(rather than 0.0051 kg)

The example simply changes the units and doesn't seem like it should affect the precision. If the same calculation was done directly with BigDecimal you would not see

[2017-06-06 08:33] camjo opened #254 "Loss of precision when dividing Quantity"
When you deal with money, there is a method
[code]
that allows you to divide money by an arbitrarily large BigDecimal without losing precision.

There is no such method on regular `Quantity` types:

e.g.
Grams(5.1) / BigDecimal(1000)
// cannot be applied to (scala.math.BigDecimal)
//       Grams(5.1) / BigDecimal(1000)

As such it appears to be impossible to divide `Quantity` types without potenti

[2017-06-06 08:46] camjo commented on #253
After a bit of digging it looks like this method might be the culprit:
[code]
in the trait `UnitConverter`.

A possible fix could be to adjust this to the following:
[code]

This would fix it for all implementations however it would have unnecessary overhead of creating the `BigDecimal` object for types where `Double` is sufficient.

Another option might be to overwrite `UnitConverter` with a more

[2017-06-06 14:03] derekmorr commented on #253
This is a known issue. Currently, because almost all of squants is based on `Double` you have all the normal issues with floating-point math. For version 2, we plan to redesign the library around a numeric type class, so users can use `BigDecimal` or the spire types, or any other type they want. This is a lot of work, and will break compatibility with existing users, so we're trying to take our ti

[2017-06-06 14:05] derekmorr commented on #254
Similar to #253 this is a known issue b/c the library currently uses doubles. For 2.x, this will be fixed.

[2017-06-06 17:07] camjo commented on #253
Ok makes sense. Any rough idea on timelines for 2.x at this point?

[2017-06-06 17:12] derekmorr commented on #253
Not currently. We just released 1.0 in December 2016. We've already identified a few issues we'd like to change but can't because of backwards-compatibility.

[2017-06-06 19:58] underscorenico commented on #252
Hi, I think I could help. I'll start with the electro ones...

[2017-06-06 21:52] derekmorr commented on #252
Thanks!

[2017-06-07 06:28] underscorenico opened #257 "Add physical constants"
An object could be added, containing (some ?) known and widely used physical constants. This constants will be very practical for conversions.
A comprehensive list can be found here: http://physics.nist.gov/cuu/pdf/all_2002.pdf

[2017-06-08 18:28] cquiroz commented on #257
I'd be interested on taking this unless somebody else is already working it

[2017-06-09 21:52] vlovgr opened #261 "Temperature#apply NullPointerException on unit without value"
[code]

(Discovered thanks to property-based tests in Ciris.)

[2017-06-10 15:12] cquiroz commented on #261
Thanks for the report. Obviously we should produce some other type of exception in this case. However the real fix should be to get rid of those `apply` that can throw and make them return an `Option` or `Either`. That will have to wait until 2.0 though since it breaks the API

@derekmorr What do you think about adding an `fromString` method that returns `Option` and deprecate this `apply` constru

[2017-06-12 10:39] derekmorr commented on #261
`Temperature.apply()` already returns a `Try`, as does every other _Dimension_.`apply()` function. I'd rather just fix the regex to handle this input.

[2017-06-12 11:29] derekmorr commented on #261
This is fixed in PR #262. It was a one-character change to a parsing regex.

Thanks for the find, @vlovgr .

[2017-06-12 13:39] #261 closed

[2017-06-15 14:25] alexkok8 opened #265 "Loss of precision in Money when using Multiplication"
While using the Squants library to work with the Money type, I encountered a loss of precision when doing certain calculations. I instantiate the money object by using the Currency object and multiply it with an Integer. In this example: `EUR(9709.06)` as Money and `4992` as Integer.

I tried to instantiate it by using the BigDecimal, as it might be related to the double that we pass to the curren

[2017-06-15 15:01] derekmorr opened #266 "upgrade to scala native 0.3"
Scala Native 0.3 is out - https://github.com/scala-native/scala-native/releases/tag/v0.3.0. We should upgrade to it and see if we can remove some of the work-arounds we had to implement in the past.

[2017-06-15 15:16] cquiroz commented on #266
I guess enabling tests would be my highest prioirity

[2017-06-15 15:17] shadaj commented on #266
I can work on upgrading Scala Native. I'm not sure if it will be possible to remove the workarounds though because porting string formatting is still a work-in-progress.

[2017-06-15 15:43] derekmorr commented on #266
https://github.com/scalatest/scalatest/issues/1112 is the scalatest issue for scala native support.

[2017-06-15 17:48] garyKeorkunian commented on #265
This was mentioned in #233 but was a bit out of scope for that issue.

Here's the background:

Money stores the underlying `amount` as BigDecimal.  However, because it's a Quantity, the `value` field is still a Double, that is a Double representation of the `amount`.

`Money * Int|Double` will call  the `Quantity.*` method which acts on the `value` field, thus the loss of precision.  We can be fix

[2017-06-15 21:05] garyKeorkunian commented on #257
There are a few constants already defined.  The can be found in the package object of the of sub-package that contains that unit.  For example ...

[code]

It looks like only the thermo, electro and motion sub-packages currently define a few.

I'm not sure if these package objects are the best place for them.  Perhaps a PhysicalConstants object which contains them all (or one per logical category)

[2017-06-15 21:10] garyKeorkunian commented on #254
@camjo The map method is the best choice for overcoming these types of limitations.  I do agree with @derekmorr that making the underlying value generic instead of Double will go a great way toward improving the precision of the library.

In the meantime, I do think your proposed method would be a worthy addition.

[2017-06-21 16:33] #265 closed

[2017-06-23 14:59] bbarker commented on #228
Adding a note to consider other time-derived quantities (e.g., `MassFlow`), so that one could do
`.toPoundsPerDay` instead of `toPoundsPerHour*24`.

[2017-06-27 02:12] #233 closed

[2017-06-27 19:23] #266 closed

[2017-07-08 15:02] bbarker commented on #230
I agree that a solution of some sort in the 1.x series would be desirable; both for immediate use, and for cases where one might not have time to upgrade to 2.x immediately (depending on the magnitude of API changes).

I wonder if an "early catch and fail" solution might work at runtime. For instance, in the following snippet, a check could be done to see if `num` extends `AbstractQuantityNumeric`

[2017-07-08 15:25] garyKeorkunian commented on #230
We could assert that the seed value is not another Quantity:

[code]

But, of course, that doesn't type check at compile time, which is most desirable.  After all, the goal of the library is dimensional type safety.

I agree that a `!<:` operator would be nice.

Version 2 will replace the implicit Numeric in the apply method with a new QuantityNumeric.  Since these type classes won't be defined fo

[2017-07-08 16:23] bbarker commented on #230
I think that assertion would be great! I also agree tests are helpful in just the way you describe (incidentally, some of my errors were actually in the tests - it is just a bit too easy to make a typo when you forget if some value is a Double or if it is already a Quantity). Typos happen, sometimes one has to read code ;). But in this case I agree the assert would make for less reading!

[2017-07-08 17:58] derekmorr commented on #230
I really don't like the idea of making the `apply` functions partial or of using recursion in a critical path.

[2017-07-08 20:41] garyKeorkunian commented on #230
@derekmorr Do you mean placing an assert in the `apply` method?

[2017-07-09 02:11] bbarker commented on #230
Since we can work with `n: A` directly, which is slightly simpler than working with `num`, I worked from the example I linked above to create a `!<:` trait that seems to have the [desired behavior](https://scalafiddle.io/sf/H3pTAsX/4).

This might let us do something like:

[code]

[2017-07-12 00:40] bbarker commented on #230
Any other thoughts on the last proposal I mentioned using the custom `!<:` trait? I can give it a try if it looks acceptable.

[2017-07-12 01:53] derekmorr commented on #230
There's a similar but different approach proposed by Miles Sabin - https://gist.github.com/milessabin/c9f8befa932d98dcc7a4 it doesn't rely on casting.

[2017-07-12 16:06] bbarker commented on #230
That looks good to me ... Hadn't thought of using null. Don't think we need
to bother with the type alias though, since we're not going to be using
this much.

On Jul 11, 2017 9:53 PM, "Derek Morr" <notifications@github.com> wrote:

[2017-08-04 10:52] alexkok opened #281 "Missing function when using multiplication with the Money type"
For my project I am automatically checking some properties on the different types used in a system, and an error occured when using the Money class. The following error occured when checking the associative property: `(x * y) * z == x * (y * z)`.
[code]
I have checked it with both the 1.3 version and the latest snapshot, but unfortunately this didn't solve it.

The error occurs on the right hand s

[2017-09-20 09:44] cquiroz commented on #15
I got inspired by @zainab-ali to add spire/generic support to squants. Would you think the `wip` branch is a good place to start?

[2017-09-20 13:08] garyKeorkunian commented on #15
@cquiroz I think so.  A good amount of work has been done there.  The blocker was around the typing for QuantityRanges.  Let me know if you have any questions or want to go over it.

[2017-09-20 13:10] garyKeorkunian commented on #15
@cquiroz Actually, the more complete work is in the shared/test/scala/experimental folder of the master branch.

[2017-09-20 14:00] derekmorr commented on #15
I had tried to grab Erik from the Spire project at NEScala to talk about this, but we never connected. He seemed to think there were issues with the current approach, but he didn't elaborate.

[2017-10-30 17:48] #281 closed

[2017-11-25 14:53] derekmorr opened #286 "Tests don't compile"
I'm getting build errors in the tests when I try to build them locally:

[code]

[2017-11-30 16:44] psung opened #288 "Time derivative of VolumeFlow?"
Hello,

We use Squants in our stack, which among other things drives liquid handling devices that take in a rate of change of VolumeFlow (i.e. volume/time^2 e.g. µL/sec^2).

If we added classes to represent quantities of this dimension, is this something you'd consider merging upstream? Or is it too specialized? (If you think this is useful, what do you think it should be called? VolumeAcceleratio

[2017-11-30 23:12] cquiroz commented on #288
i'd be ok including it. Is there any official name you use for the rate of change?

[2017-12-01 01:27] psung commented on #288
I think we'd just call it "volume acceleration".

[2017-12-18 22:46] psung commented on #288
I filed #289 which introduces `VolumeAcceleration`.

[2017-12-19 18:48] psung commented on #42
I realize that this is the way it is for now, but it would be nice to implement something like the separation of Celsius and CelsiusScale (akin to Time vs. Duration) when there is an opportunity for an API-breaking change. Some examples:

[code]

And in particular one motivating use case is a TemperatureRamp dimension (or similarly, code to work with specific heat or heat capacity), where without

[2018-01-09 09:53] ecamellini opened #291 "Add support for ZAR and NAD currencies"
We use `squants` in our project to handle money and currencies, and we need to handle some values in `ZAR` (South Australian Rand) and `NAD` (Namibian Dollar).

We added the two currencies to our model as follows:

[code]

We would need to add them also to the `defaultCurrencySet`:
https://github.com/typelevel/squants/blob/81cfd3d5271bafc3ccf57c9437c4c0ca4cedb206/shared/src/main/scala/squants/mark

[2018-01-09 09:55] ecamellini commented on #291
I can also work on this unless someone else wants to work on it

[2018-01-22 10:01] ecamellini commented on #291
It would also be good to make the `defaultCurrencySet` overridable/extensible in some way (with an `implicit`, for example).  This would allow to add new currencies locally and still be able to use the constructor with `String` currency without the need to modify `squants` itself.

[2018-01-23 22:17] #291 closed

[2018-01-24 14:05] #229 closed

[2018-01-24 14:16] garyKeorkunian commented on #214
@bsoufflet It's been some time since you created this issue.  The recent change making Dimension.parseString public could help with your use case.

[2018-01-24 15:40] bytecodeguru commented on #291
Thank you @garyKeorkunian for your support.

This still does not fix the original issue: creating values using factories that take Currency Code (String) for new currencies.

For example in this existing test: https://github.com/typelevel/squants/blob/569e0608716580b568147e14860349b207c0a0f1/shared/src/test/scala/squants/market/MoneySpec.scala#L33

adding the following line compiles but the test f

[2018-01-24 15:44] #286 closed

[2018-01-24 16:58] garyKeorkunian commented on #291
@bytecodeguru Yes, you are correct.  I added the feature to MoneyContext as it is a class and was easy to do.  But as you said that doesn't help with Money factory.  The val defaultCurrencySet is immutable, which prevents it from being updated from outside the library, and so will need another approach.  This is true of all Dimensions, and the changes necessary will likely break backward compatibi

[2018-01-24 17:39] bytecodeguru commented on #291
Should we reopen this issue to at least include `ZAR` and `NAD` into `defaultCurrencySet` instead of a brand new issue?

[2018-01-24 18:58] garyKeorkunian commented on #291
No, I'll just make that fix and submit PR.

[2018-02-05 17:33] veej opened #296 "Money.apply should not use defaultCurrencyMap"
Since now it's possible to define our additional currencies, I expect to be able to create a new `Money` passing a currency code from the additional ones I added, like in the example above:

[code]

However, the snippet of code above is throwing an exception, since `Money.apply(amount: BigDecimal, currency: String)` is using a static `defaultCurrencyMap` for the String-to-Currency conversion, inst

[2018-02-15 12:02] ALPSMAC opened #298 "Kiloyards Length UnitOfMeasure Support"
As odd of a unit of measure as it is, my office actually has need of Kiloyards as a unit of measure quite regularly.  I imagine this is just as simple as adding it into the existing units of measure defined for `squants.space.Length`, correct?

Or for strange units of measure like this one would we prefer to keep them defined as a ratio instead of directly inside `Length`?

More generally - is the

[2018-02-20 22:20] psung opened #299 "Dividing quantity of TimeDerivative[A] by quantity of A"
It would be nice if `TimeDerivative[A]` implemented a method `def /(that: A): Frequency` so that for example you could write:

[code]

This seems straightforward, and I hope uncontroversial, given that you can write all of the following:

[code]

[2018-03-01 18:54] pathikrit opened #300 "Do not require implicit MoneyNumeric in context is calculations are in same currency"
Related to https://github.com/typelevel/squants/issues/231

Why do we need a money context if we are in the same currency?

Couple of ways to solve this:
1. Type safe approach: We can make this possible by Money having a dependent type of currency and providing a default MoneyNumeric where each argument has the same dependent currency  type
2. Unsafe approach: We provide a default implicit instanc

[2018-03-02 14:07] exlevan opened #301 "Inconsistent Quantity.toString behaviour on locales with decimal comma"
When a `Quantity` is converted to `String` on locales that use comma as a decimal separator (such as russian or french), the number is displayed differently depending on whether it's close to a whole number or not. For example, `0.0` is displayed as `0,0 units` and `0.5` as `0.5 units`. This is caused by the code in `squants.Platform`, which uses both locale-dependent `format` and locale-independe

[2018-05-08 03:45] danielyli opened #304 "Add support for {Gibi|Mebi|Kilo|etc}bits"
The `squants.information` package currently supports units like `MiB/s` but not bit-based units like `Mbps` (megabits per second), which is the standard unit for telecommunications.

If Squants is to support these, we should consider differentiating between units like “megabits” (10^6 bits) and “mebibits” (2^20 bits) like the existing byte-based units.

[2018-05-25 09:05] Passarinho4 opened #306 "Broken equals/hashcode contract for Quantity class"
Hi!
There is a very serious bug in Quantity class. There is broken contract for hashcode/equals methods.
Example:
5 hours is equal to 18000000 milliseconds, but (5 hours).hashCode == 50364223 and (18000000 milliseconds).hashCode == -1789482435.

Quick fix -> change hashCode() method implementation in Quantity class to dimension.hashCode().
This bug has many consequences, but I think they are obvio

[2018-05-25 13:36] cquiroz commented on #306
Sounds like a serious bug. Would you send a PR?

[2018-06-04 18:45] #306 closed

[2018-06-19 14:50] dportabella opened #308 "no automatic conversion for java.math.BigInteger?"
[code]

[2018-06-25 08:22] jchapuis opened #309 "Include scalatest CustomMatchers in package"
`CustomMatchers` class is super useful for writing scala tests, how about including it in the package, with some documentation?

[2018-08-07 20:08] rmccampbell opened #310 "Inconsistent SVector operator overloads"
There are a few problems with the operator overloads on the SVector types. First the operators on the base SVector are mostly defined as functions, not methods, which is confusing and inconsistent. The * operator is also redefined on QuantityVector, but as a method, so it does not properly override it (this overload seems to be redundant). This makes Intellij complain that it can't resolve "*" in

[2018-08-17 22:35] acarrasco opened #311 "Can't reliably mix Money and Time"
Time does an internal conversion of the magnitude to Double no matter what type of number is used when constructing the objects, so that causes problems when working with Money (which shouldn't lose precision).

This simple worksheet shows the error:
[code]

[2018-08-17 22:55] acarrasco commented on #311
Here is the culprit:
https://github.com/typelevel/squants/blob/master/shared/src/main/scala/squants/time/Time.scala#L60

[2018-08-17 23:38] derekmorr commented on #311
With the exception of Money, all quantities in squants use Double internally. These sort of floating point errors are a known side effect of that.

There have been some discussions around overhauling the library to use a generic numeric type, which would let users use arbitrary numeric types, but this isn't minor change, and isn't being actively worked on.

For now, the rounding error you've repor

[2018-08-18 22:30] acarrasco commented on #311
Thanks! Good to know that it's a known limitation :)
I'm going to take a deeper look myself, maybe I can find an acceptable workaround.

[2018-08-19 00:12] acarrasco commented on #311
@derekmorr the workaround I was thinking of is already implemented in the current master! :D
I'm adding a test for it and sending a PR

[2018-08-19 00:12] #311 closed

[2018-09-13 15:00] mkotsbak opened #314 "Price does not work on left side of * operator"
[code]
ScalaFiddle.scala:13: error: overloaded method value $times with alternatives:
  ( that: time.this.Frequency)energy.this.Power
  ( that: scala.this.Double)energy.this.Energy
 cannot be applied to (market.this.Price[energy.this.Energy])
  val compileError = energy * price
                            ^

Am I missing any imports here or is there something missing on the operator * implementati

[2018-10-29 23:56] cquiroz opened #317 "Support scala 2.13"
This change likely requires dropping 2.10 support

[2018-11-14 09:34] vlovgr opened #320 "Make dimensions available implicitly"
I recently did the work to update to Squants 1.4.0 in Ciris (https://github.com/vlovgr/ciris/pull/190). The changes in https://github.com/typelevel/squants/pull/293 are welcome, but are of limited usefulness because `Dimension`s aren't provided implicitly. In the tests in https://github.com/typelevel/squants/pull/293, you can see the following function:

[code]

which is basically what I want to w

[2018-11-14 10:07] vlovgr opened #321 "Money round-trip parsing failures"
Money round-trip parsing via `toString` is failing in 1.4.0. Worked in 1.3.0.

[code]

[2018-11-14 10:11] vlovgr opened #322 "Money#parseString throws NotImplementedError"
[code]

[2018-11-21 17:33] psttf opened #323 "NotImplementedError from Money#hashCode"
with Squants 1.4.0:

[code]

[2018-11-23 16:16] atk91 opened #324 "Information addition not always works as expected."
`Bytes(Double.MaxValue / 2.0) == (Bytes(Double.MaxValue / 2.0) + Bytes(1.0))` will evaluate to `true`
This happens because `Information` underlying type is `Double`. Not sure about reasons to choose this, it seems that Long should suit these needs better.

[2018-11-23 17:37] #304 closed

[2018-11-29 12:23] GerretS opened #327 "Kelvin symbol is incorrect"
The default symbol for Kelvin as given in
https://github.com/typelevel/squants/blob/037d3adb1ddbe47be8a74b8fe61f323564fedf66/shared/src/main/scala/squants/thermal/Temperature.scala#L188

is incorrect. Because the Kelvin units are related to an absolute scale, unlike the other temperature scales, it should not have the degree symbol `°`.

Sources:
BIPM, the official maintainers of the SI:
https://w

[2018-11-29 13:13] cquiroz commented on #327
Thanks, this looks good especially With the sources cited. Would you send a PR?

[2018-12-06 08:46] JakubDziworski opened #329 "Btc has 15 decimal places instead of 8"
Bitcoin should have 8 decimal places but it has 15. Am I missing something or is it wrong? https://github.com/typelevel/squants/blob/ed961e4485534d1285171abf47dcc5c0ae564cc2/shared/src/main/scala/squants/market/Money.scala#L450

[2018-12-11 22:00] acruise opened #331 "Ser/des of units for runtime comparisons"
I'd like to be able to offer units metadata in my system, so that when someone takes a metric defined as RPM and tries to add it to a US Dollars quantity, the system can warn them that it's a nonsensical operation.

The compile-time functionality provided by this library is good, but AFAICT irrelevant to my use case. I'm open to suggestions about alternative ways to achieve this goal outside this

[2019-01-02 03:30] #327 closed

[2019-01-06 21:11] mtrna opened #333 "EnergyDensity: change symbol from j/m³ to J/m³"

[2019-01-06 21:11] mtrna commented on #333
PR: https://github.com/typelevel/squants/pull/332

[2019-01-18 16:40] hunterpayne opened #335 "Better support for radioactivity units"

[2019-01-18 16:40] #335 closed

[2019-01-18 16:49] hunterpayne opened #336 "Better support for radioactivity units"
There are several missing types for doing calculations around radioactivity.

1) A unit measuring disintegration rates (ie Curie, Becquerel, and Rutherford) which is often called Activity
2) A unit measuring area * time (ie SquareMeterSeconds) which I call AreaTime (used to quantify exposure)
3) A unit measuring ParticleFlux (ie BecquerelsPerSquareMeterSecond)
4) A unit measuring equivalent/effect

[2019-01-18 17:25] hunterpayne commented on #336
https://github.com/typelevel/squants/pull/337

[2019-01-18 22:44] hunterpayne commented on #323
This is a real bug.  It is caused by the fact that hashCode comes from the Quantity class.  That implementation uses the hashCode of the Dimension and specifically the hashCode of the primaryUnit.  Because the Money class uses the MoneyContext for the primaryUnit, its lacks an implementation (???) to ensure the MoneyContext implementations are being used.  So the Money class needs its own hashCode

[2019-01-18 22:57] hunterpayne commented on #331
I'm not quite sure what you are asking here.  I'm guessing RPM is a currency (although to me its a rate of either requests or revolutions).  I'm going to try to answer you question but if I answer the wrong question, this is why.

The fit of currencies into the scientific mindset of squants is a bit weird for someone who works in fx.  Most of the dimensions in Squants comes from physics or other s

[2019-01-18 23:06] hunterpayne commented on #314
There is no method with the signature:

def*(that: A): Money

in Price.  Maybe there should be?  Or maybe the compiler doesn't like that syntax?

[2019-01-18 23:32] hunterpayne commented on #308
This is happening because you are requiring chaining two implicit conversions in a row (BigInteger -> BigInt -> Double).  What's even weirder is that Bytes should probably be a Long (there is another issue open about that).  Just make an implicit conversion between BigInteger and Double and this should work for you (until Bytes switches to use Long that is :) )

[2019-01-18 23:45] hunterpayne commented on #299
I think this is the implementation you want.  Add this to the TimeDerivative trait in TimeDerivative.scala.

  def /(that: A): Frequency =
    Hertz(timeIntegrated / (that / this.time.toSeconds))

Maybe you could make a PR for this.  Don't forget to add tests for this to the correct specs...

[2019-01-18 23:56] hunterpayne commented on #298
These seem like strange units of measure.  Its pretty easy to add support for a new type:
1) add this to Length in Length.scala:

  def toKiloYards = to(KiloYards)
  def toKiloFeet = to(KiloFeet)

2) add this to the top level scope in Length.scala
object KiloYards extends LengthUnit {
  val conversionFactor = Feet.conversionFactor * 3000d
  val symbol = "kyd"
}

object KiloFeet extends LengthUnit

[2019-01-19 00:34] cquiroz opened #338 "Handling of PRs"
Hi

We have a collection of PRs awaiting approval and merging. I've been reviewing and approving some but I've refrained from merging awaiting for a second opinion.

This has stalled the process as it seems I'm the only one doing it. If you guys are ok I can take care of merging changes and making releases by myself but I don't want to step on other's toes

Please let me know if that's ok or sugge

[2019-01-19 07:39] dportabella commented on #308
thx!

[2019-01-19 07:39] #308 closed

[2019-01-19 09:50] hunterpayne commented on #321
This seems to work for me as of today on master.  Is this still failing for you?

[2019-01-19 09:58] hunterpayne commented on #322
Add this to the Money object in Money.scala:

  override def parseString(s: String): Try[Money] = apply(s)

Then add this to MoneySpec.scala

 it should "handle round trip parsing of money as a string" in {
    // Issue #321
    val money = Money(1000d, USD)
    Money(money.toString)
    // Issue #322
    Money.parseString("1000 USD")
  }

Make sure it all works on your end, then submit a PR...

[2019-01-19 10:37] hunterpayne commented on #324
1) Change the args to Information like so

final class Information private(val amount: Long, val unit: InformationUnit)
     extends Quantity[Information]
     with TimeIntegral[DataRate] {

2) Add this to the Information class as well:
  def value = amount.toDouble

  // overridden to remove the forcing of doubles for this unit that makes
  // no sense now that this dimension is represented by a

[2019-01-20 02:37] darkfrog26 commented on #338
Sorry, @cquiroz, I'd love to help, but I'm a bit overwhelmed and behind with my own projects at the moment and don't have the time to contribute to this one. Hopefully, when my time frees up a bit I'll be able to contribute more time to this project.

[2019-01-21 03:22] hunterpayne commented on #298
I'm glad you got your change merged.  You can go ahead and close this issue I think.  Also, in the future put a link to the PR in the issue.

[2019-01-25 23:38] acruise commented on #331
By "RPM" I meant revolutions per minute... I'm not as interested in currency conversions right now, but different physical units of measure would be valuable metadata for me. :)

[2019-01-26 11:34] hunterpayne commented on #331
Well turbineRotSpd would be a Frequency and timeSinceLastMaint would be a Time and a Frequency * Time is a Dimensionless (number of rotations in your case).  Squants prevents you from adding Frequency to Money as you mentioned in your first post.  And a rotation is just an event which is why you end up with a Dimensionless at the end.  If you want something more mathematically based, there is [Spi

[2019-01-28 22:03] acruise commented on #331
hmm, not a bad idea, thanks!

[2019-02-11 20:59] hunterpayne commented on #338
So I guess we should think of this project as dead?  Maybe you should tell users to go somewhere else if nobody can be bothered to admin it?

[2019-02-11 21:05] cquiroz commented on #338
I don't mind doing the admin chores but I don't want to step on anybody's toes. it would be good to get more support from other commiters

[2019-02-11 21:30] hunterpayne commented on #338
There are few things in life more frustrating than being able to do something you need to do but not being given the permission to do it.  The users bothered to take their own time and make the PRs for you.  You can't be bothered to put even 30 minutes of time into maintaining this project to approve these PRs.  But also, you can't be bothered to let others do it.

That really doesn't make you or

[2019-02-12 06:31] garyKeorkunian commented on #338
Hello, all.  I have gone through the outstanding PR's and approved a few.  Some need to update before they can be merged.

@hunterpayne Your PR has been merged.  Sorry for the delay, but participation is light.

As far as this not making  "our" company look good, there is no company, no SLA, no support contracts.  Just a small group of volunteers doing what they can to mature the library.  That sa

[2019-02-12 06:58] garyKeorkunian commented on #333
Fixed by #332

[2019-02-12 06:58] #333 closed

[2019-02-12 06:58] garyKeorkunian commented on #336
Fixed by #337

[2019-02-12 06:58] #336 closed

[2019-02-12 07:15] garyKeorkunian commented on #323
It looks like this was corrected in #330.  @psttf Can you please verify?

[2019-02-12 07:16] garyKeorkunian commented on #322
This should have been corrected in #330.  @vlovgr Can you please verify?

[2019-02-12 07:25] garyKeorkunian commented on #309
@jchapuis Do have some example about how they might be used in Squant's tests?

[2019-02-12 20:52] hunterpayne commented on #338
@garyKeorkunian everyone appreciates you merging PRs yesterday.  I'm sorry I had to post that to get you to act.  But in my defense, I (and the other users) had tried other tactics.  We made PRs, we posted issues, we said nice things in an effort to get you to pay attention.  When all those things were exhausted, there was only one tactic left.  If you ignore your user base, you are essentially tr

[2019-02-12 21:20] derekmorr commented on #338
@hunterpayne You could always volunteer to be a maintainer if you use this project and are concerned about its future. That's how I became a maintainer. However, I now don't use squants much (or even Scala). But please keep in mind that no one on this project owes you anything. Like @garyKeorkunian said, we're all unpaid volunteers.

[2019-02-12 21:53] hunterpayne commented on #338
Which is perhaps why I waited quite some time before posting.  I just wanted a decision about the future of the project, not necessarily action although the action was appreciated.  I don't want to make you feel unappreciated, but please consider if you really want to make someone feel unappreciated ignore their PR for a few months.  If you do that to people enough, my rather tame response on this

[2019-02-12 22:15] #338 closed

[2019-02-25 04:24] ruippeixotog commented on #321
I'm seeing the same behavior, which prevents me from updating PureConfig to the latest version of squants.

Do you have any idea of when a new version might be released?

[2019-02-27 19:47] hunterpayne commented on #300
So I'm happy to see the Squants team be so active lately.  So I thought I would offer a solution to this problem.

What we really want in this situation is to give a default value to the implicit variable moneyContext.  But the apply methods in the Money object are overloaded and you can't give default values to multiple versions of an overloaded method in Scala.  So the only way I found to solve

[2019-02-27 19:51] cquiroz opened #339 "Setup sbt-release-early"
I think it would be helpful to set this up to get releases as soon as a PR is merged

[2019-02-27 20:28] mkotsbak commented on #314
Nope, what is missing is this:

[code]

I can prepare a PR.

[2019-02-27 20:41] hunterpayne commented on #314
I think what you propose should be added @mkotsbak but you asked for Price * A and it seems you are providing A * Price.  Both should work and the override you propose provides one of them.  If you make a PR, please add tests (and overrides) that cover both Price * A and A * Price.  That will likely make the team happier and more likely for them to approve your PR quickly.

[2019-02-28 05:44] hunterpayne opened #340 "Specific Energy is incorrectly defined"
Specific Energy is energy per unit mass of a chemical reaction.  Its unit of measure is J/kg.  This is not the same thing as a Gray which also a J/kg but of ionizing radiation only.   Units of measure for Specific energy include: kilocalorie per gram (Cal/g or kcal/g), watt hours per kilogram in the field of batteries, and the Imperial unit BTU per pound (BTU/lb).  Gray is a measure of absorbed do

[2019-02-28 06:05] hunterpayne commented on #228
Months, years and longer units of time are not regular and require a calendar to do those operations correctly.  I think a week should be the longest unit of time as its the longs one that is regular.

[2019-02-28 06:09] hunterpayne commented on #15
I've created something like what this issue requests here...https://github.com/hunterpayne/terra
Its an entirely different project as it required rewriting most of the source to make it work but enjoy...

[2019-02-28 07:35] mkotsbak commented on #314
Ah, sorry, title was wrong :) Jupp of course I added tests first..Numbers at left side of * Price should probably also be supported.

[2019-02-28 15:55] garyKeorkunian commented on #15
@hunterpayne Nice.  That work in the experimental package needed a whole lot of refactoring to get as far as did, too.  I'll take a look at this.  It's something we are informally targeting for version 2.0.  Thanks!!

[2019-02-28 18:44] hunterpayne commented on #15
Thank you Gary.  It should be noted that to make it all work I had to resort to using ClassTags in a couple of places which has drawbacks for native and JS builds.  So tread carefully on what you want to bring in from Terra.  The simplicity of the Squants code has advantages that are lost when you refactor out the numeric types from Quantities (and the types get significantly more complicated).  T

[2019-03-12 10:56] hunterpayne commented on #15
Update, I've successfully removed the ClassTag dependency and gotten Scala-JS and Scala-native versions working.  Its still a more complex source base to manage but it now has the same platform support.

[2019-04-16 18:23] ipsq commented on #138
I'd like to second this. I was to write a `MoneyContext` that makes an external API call for the currency requested. Loading everything in advance eats away my maximum allowed API calls.

[2019-04-16 19:14] garyKeorkunian commented on #138
Hmm?  That means you would be adding a latent operation to an otherwise synchronous method.  We may need to implement Future based operations on MoneyContext to support that.  Of course, that depends on your implementation, @ipsq.  Have you gotten that far?

[2019-06-11 15:14] TimPigden opened #344 "scala 2.13"
Hi, any chance of a 2.13 build please?

[2019-06-14 00:05] cquiroz commented on #344
Unfortunately there is an oustanding bug to compile on 2.13 that may take a while to fix

[2019-06-19 21:55] ruippeixotog commented on #321
Ping. If this is already fixed on master, can you please publish a new version?

[2019-07-01 08:25] ybasket commented on #344
@cquiroz any update on the outstanding bug?

If there's no fix yet, maybe you can give a hint or two about what's the problem or open a WIP PR, so that others can try to help there? I'd gladly invest some time to make squants 2.13 ready if I can.

[2019-07-28 21:40] cquiroz commented on #344
We are hitting this bug
https://github.com/scala/bug/issues/11640

[2019-08-29 12:05] ybasket commented on #344
The scalac bug was closed today, but it seems as it didn't solve the problem for squants, there's still a cyclic reference error when building against the scalac snapshot `2.13.1-bin-dfde51f` which is supposed to have it fixed (at least if I got the system of snapshot versions right).

Branch to test can be found here: https://github.com/ybasket/squants/tree/scala-2.13

Guess we should try to extr

[2019-09-08 23:52] cquiroz opened #346 "Add squants to scala-steward"

[2019-09-10 08:13] vlovgr commented on #320
Fixed by #326 and released in 1.5.0. 🎉

Here's the update pull request in ciris: https://github.com/vlovgr/ciris/pull/255

[2019-09-10 08:13] #320 closed

[2019-09-10 11:59] cquiroz commented on #320
Great to hear

[2019-09-10 23:41] cquiroz commented on #344
This is the error in question but I haven't been able to minimize it
[code]

[2019-09-11 14:03] cquiroz commented on #346
https://github.com/fthomas/scala-steward/pull/928

[2019-09-11 14:03] #346 closed

[2019-09-14 23:30] garyKeorkunian commented on #15
I've created an alternative model that supports generic numerics in quantities.

If can be found here:  https://github.com/garyKeorkunian/squants-generic

This one inverts the type stack so that Dimension is at the "root" and UnitOfMeasure and Quantity have a type-dependency on that.  This seems to be more semantically correct for the domain.

The README outlines the goals, current state and roadm

[2019-09-15 03:41] hunterpayne commented on #15
So this approach you are taking has pluses and minuses.  I'm going to assume you looked at Terra (https://github.com/hunterpayne/terra) and I'm going to compare this approach to the one I used there:
Pros:- This approach is much simpler and will be easier to write and debug- Customizing the data types will be simpler assuming users use the same underlying type for all units of measure

Cons:- Gene

[2019-09-17 20:37] garyKeorkunian commented on #15
@hunterpayne Thanks for taking a look and the feedback.

I have looked at terra.  I agree terra will be a bit heavier on the maintenance side, but I like many of the things you did there.  I need to study it more as it's not quite clear to me how we can extend it with additional types like spire, although I'm sure you have considered it.  I do like what you've done, however, I also want to explore

[2019-09-17 20:40] garyKeorkunian commented on #15
@hunterpayne Also, I agree I need to refactor a broader set of Dimensions and other features to validate this approach.  I just wanted to get some eyes on it to ensure I wasn't doing anything too far off base before I go further.

[2019-09-18 07:15] hunterpayne commented on #15
So there are a few classes in Terra that you might want to look at to really see what is going on inside of there.
1) [TerraOps.scala](https://github.com/hunterpayne/terra/blob/master/src/main/scala/org/terra/TerraOps.scala) which is the interface that defines how Terra interacts with types and converts between them.  This class is admittedly very messy and could use some clean-up but you get the

[2019-09-18 07:24] hunterpayne commented on #15
@garyKeorkunian Your general approach seems sound.  Investigate Quantity being typed on a Dimension further, its a good idea.  The thing I discovered as I was working on Terra was that the interactions between values coming from different dimensions happens quite often and you need a good solution for that.  Also, I learned that the Scala type inference engine really doesn't do well with multiple

[2019-09-21 02:04] garyKeorkunian commented on #15
I've update squants-generic to support better backward compatibility with 1.x.

There's some sample code in the README here:  https://github.com/garyKeorkunian/squants-generic#current-state

[2019-09-21 02:23] hunterpayne commented on #15
@garyKeorkunian Looks good so far.  For extra types to test on maybe consider [sigfigs](https://github.com/hunterpayne/sigfigs) which is a significant digits library for chemistry and engineering.

[2019-09-21 08:38] Vrolijkx commented on #323
Should be resolved on the latest master. So think we can close this one.

[2019-09-22 02:32] garyKeorkunian commented on #323
Resolved by PR #351

[2019-09-22 02:32] #323 closed

[2019-09-23 14:47] cquiroz commented on #339
You're right, that would bet he best choice

[2019-09-23 14:47] SethTisue commented on #317
this should probably be closed in favor of #344

[2019-09-23 14:48] SethTisue opened #356 "tests routinely hang"
seen in the Scala community build ([example run](https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/1327/console))

also reproducible locally with `++2.11.12` followed by `test`:

[code]

[2019-09-24 01:17] cquiroz opened #358 "Remove json module?"
It seems odd to me that we have support for a particular json lib (json4s) I'd expect that to live in a separate project/repo along other json encoders (circe, etc)

WDYT?

[2019-09-26 03:40] SethTisue commented on #356
I've seen this on Scala 2.12, too

[2019-09-26 11:30] cquiroz commented on #356
This should be fixed on #357 when making the tests not to run in parallel

[2019-10-06 23:31] #356 closed

[2019-10-10 02:24] SethTisue commented on #356
let's try it: https://github.com/scala/community-build/pull/990

[2019-11-06 12:32] ybasket commented on #358
Such modules could also live inside/next to the JSON libraries, see the discussion here:
https://github.com/circe/circe/pull/1111

[2019-12-09 23:55] #344 closed

[2019-12-17 19:30] SethTisue commented on #317
fixed as of https://github.com/typelevel/squants/releases/tag/v1.6.0

[2020-01-28 01:18] TomasPuverle commented on #15
Hi, would mind giving an update on this, please?

[2020-01-28 01:41] TomasPuverle opened #382 "Value type support?"
Does the library take advantage of Scala's value type (AnyVal) support?

[2020-02-01 18:42] jehrlich opened #383 "String input to constructor should be trimmed"
Quantity constructors taking String input are not tolerant of extra whitespace at beginning or end, such that `Volume("3 ml")` parses correctly but `Volume("3 ml ")` fails. It seems this could be fixed by changing `parseString(s)` to `parseString(s.trim)` in Dimension.parse(value: Any).

I haven't tested further but probably all the `parseTuple((v, u))` should be `parseTuple((v, u.trim))` (or mayb

[2020-02-03 23:41] garyKeorkunian commented on #15
Unfortunately, not much progress since the last comments above.

Contributors are welcome.

[2020-06-23 09:51] txsmith opened #402 "Currencies don't compare correctly when defined inside a trait"
Hello! We've hit some problems in our code when defining a currency in one of our base traits:
[code]
Interestingly because `OurCurrency` is defined in a trait that is extended twice, `ServiceA` and `ServiceB` both end up with a freshly created instance of `OurCurrency`. This causes `ServiceA.someMoney == ServiceB.otherMoney` to be false in our tests!

We've fixed our specific case by overriding e

[2020-07-29 10:17] #317 closed

[2020-07-29 11:30] larsrh commented on #358
json4s is currently only a test dependency. My initial attempts suggest that this dependency in particular will be hard to port. So maybe just remove those tests?

[2020-08-12 14:03] #299 closed

[2020-09-04 21:16] keynmol opened #412 "Cross-compilation with Dotty and other platforms"
So I've started to work on making squants ready for Dotty, which lead to (hello, unshaved yaks) replacing tut with mdoc and some build modifications.

The WIP is in here: https://github.com/typelevel/squants/compare/master...keynmol:dotty

Should I attempt to break it down or will it be okay to submit as one unit?

There's a lot of things that just don't sit right with Dotty as a whole, so I'm won

[2020-10-30 16:57] #358 closed

[2020-11-25 17:13] smarter commented on #412
We actually had a working version of squants in the dotty community build: https://github.com/dotty-staging/squants/commits/bbbb64791b2be3ebc53943cdfa94871ce2b79e7a, but given that it seems like this project isn't actively maintained upstream currently, we'll probably drop it until it's officially supported in this repo so we don't have to maintain it ourselves.

[2020-12-03 09:41] TimPigden commented on #412
Hello @keynmol @smarter Does anyone know if squants is indeed in active maintenance by anyone interested in scala 3?
It's one of the 2 libraries blocking our path to full migration. Unfortunately time and budgetary constraints prevent us from taking up this particular burden, but if it's not happening we'll just cobble something together for our very simple use cases (multiple UoM in mass and spac

[2020-12-03 10:08] keynmol commented on #412
@larsrh and @cquiroz seem to be merging some PRs, may be they can weigh in :)

[2020-12-03 11:52] cquiroz commented on #412
We'd certainly accept PRs to get squants to cross compile to dotty
It doesn't have too many dependencies so it may be straightforward but I haven't tried it

[2020-12-03 12:28] keynmol commented on #412
Ok I'll try to finish my PR then. Only issue I was having was with tests but that was 3 months ago and Scala 3 stuff has certainly progressed a lot more since then :)

[2020-12-03 12:37] TimPigden commented on #412
many thanks for this!

[2020-12-03 20:53] larsrh commented on #412
Thanks for notifying me, @keynmol! I'm very interested in getting Dotty support for all Typelevel libraries. To that extent, #406 already prepared some stuff. Sadly I don't have time to look out for all the projects :wink: But feel free to sent a PR and tag me there for a review.

[2021-01-19 16:27] Lasering opened #443 "toCoarsest"
Quantity could have a method `toCoarsest` like the one in [Duration](https://www.scala-lang.org/api/current/scala/concurrent/duration/Duration.html#toCoarsest:scala.concurrent.duration.Duration).

Examples:
[code]

But since quantities are doubles the toCoarsest would also do:
[code]

Why? Because to show information to an user the later is more user friendly

[2021-05-06 14:45] julienrf commented on #339
I think this issue has been fixed, since sbt-ci-release is installed.

[2021-06-17 09:20] yuriy-yarosh commented on #412
@keynmol at this point I can't really use squants (1.7+) because of mdoc runtime deps, which grabs JBoss undertow and other things I don't really like to see in my Cats project.

I think it's somewhat related to the cross compiling plugins and current SBT setup, need invesetigating.

[2021-07-25 20:49] Lasering opened #479 "Version 1.8.0 is published with mdoc as a dependency"
The dependency can be confirmed here https://search.maven.org/artifact/org.typelevel/squants_2.13/1.8.0/bundle.

Because of mdoc **a lot** of jars are needlessly being pulled in downstream projects.

[2021-07-26 20:40] Lasering commented on #479
Seems PR#471 already solves the issue

[2021-07-28 12:54] cquiroz commented on #479
With #471 merged let's make a new release

[2021-08-11 21:35] tomasherman opened #481 "Semantic Currency equality"
Hi,

Is there some reason why `Currency` case class doesn't have equality implemented? In my usecase, im trying to use Currency on both server and client (scala.js), but the issue is that after i create Currency using the constructor during deserialisation, the equality will never work as there is no notion of 'semantic equality', just referential equality if i understand correctly.

Would you be

[2021-08-12 01:18] cquiroz commented on #481
No reason really. Feel free to send a PR

[2021-08-12 13:46] #481 closed

[2021-08-12 13:59] tomasherman commented on #481
Would it be possible to have this released any time soon pls? :)

[2021-08-12 15:27] cquiroz commented on #481
Done, see version 1.8.2

[2021-08-12 15:28] tomasherman commented on #481
thanks!

[2021-08-12 15:28] cquiroz commented on #412
Dotty support has been included for a while

[2021-08-12 15:29] keynmol commented on #412
🎉

[2021-08-12 15:29] #412 closed

[2021-08-21 14:31] Lasering opened #483 "Minutes symbol should be `min`"
According to [Wikipedia](https://en.wikipedia.org/wiki/Minute) the [SI symbol](https://en.wikipedia.org/wiki/Non-SI_units_mentioned_in_the_SI) for minute is `min` and not `m`. `m` is very easily confused with meters.

[2021-08-21 21:23] cquiroz commented on #483
Thanks for the report. Would you be interested on making a PR?

[2021-08-21 22:13] Lasering commented on #483
@cquiroz done

[2021-08-22 22:14] #483 closed

[2021-08-24 17:34] Lasering opened #485 "Release for Scala 3"
Scala 3.0.0-RC3 and Scala 3.0.0 are the same. Unfortunately since squants is only released for RC3 this line in sbt does not work:

[code]

A release for Scala 3.0.0 should be straightforward.

[2021-09-28 20:39] netvl opened #491 "DefaultFormatter is removed, no replacement?"
Documentation still says that there is an API for formatting in the best unit, via `DefaultFormater`. Yet, it appears that it was removed in the latest version. I couldn't find any public discussions or tickets about it and reasoning for its removal, and there is no indication that there is a replacement. Does this mean that I cannot upgrade to the latest version if I want this functionality?

[2021-09-28 20:42] netvl commented on #491
I found that [this](https://github.com/typelevel/squants/pull/454) PR just dropped the entirety of `experimental`, with no replacement as it seems. I understand that experimental API is just that, experimental and is subject for removal at any time, but I would've expected at least some explanation somewhere why it is done, and hopefully a pointer to a replacement (and updated docs too, because cu

[2021-09-28 21:41] cquiroz commented on #491
I dropped the`experimental` api when upgrading to scala 3 simply due to lack of time to update it at the same time.
I don't think there are any users of the `experimental` api so should have been safe

[2021-09-29 21:04] netvl commented on #491
Sorry but how did you figure this out? Experimental API was explicitly documented on the primary documentation page and readme, and it did provide very useful features. Right now, missing functionality of `DefaultFormatter` is something which prevents me from upgrading, for example. I doubt I’m the only such user.

Again, since this API is experimental, it is all right to drop it for whatever reas

[2021-09-29 22:50] cquiroz commented on #491
You can see how the decision was reached in the PR
https://github.com/typelevel/squants/pull/454

In that PR support for scala 3 was added and some sacrifices were made (also no scala-native) or most likely there wouldn't be scala 3 support at all.

As for documentation, I don't have access to the orginal website nor rights to update it. We may want to update the README to be in sync with the curr

[2021-10-10 20:41] sentenza opened #494 "Why not adding hacktoberfest tag?"
Would it make sense to add `hacktoberfest` tag to this project to participate to https://hacktoberfest.digitalocean.com ?

[2021-12-28 11:02] colineto opened #507 "Approximation for Money type"
When using approximation on Money the following `UnsupportedOperationException("minus not supported for cross-currency comparison - use moneyMinus")` is raised.

Is it possible to have a dedicated approximation function or update the existing one in order to handle Money type using moneyPlus and minus ?

I could try a PR with some hints.

[2022-02-02 10:18] tonicebrian opened #518 "Question about measurements"
Sorry if this is not the place but I haven't found a community for asking this question.

My use case is that I have "measurements" that could be either "units", "kg" or "m2" for items, so I have the tuple (item, measurement).

I haven't found a clean way of holding this other than creating a sum type called Measurement and having:

[code]

But now I want to have a MeasurementDimension in my antic

[2022-03-24 16:07] Lasering opened #524 "Quantity.toString receiving a DecimalFormat"
Quantity should have the following methods:

[code]

DecimalFormat is locale aware so on JS this might not working out of the box.

[2022-04-14 09:50] royashcenazi opened #532 "Converting Micrograms to Milligrams for 5x values create non-rounded results"
an example worth a 1000 words
`Micrograms(30).toMilligrams`
results in
`0.029999999999999995` **instead** of `0.03`

This does not happen for numbers that are not divided without a remain by 5.

[2022-05-20 17:40] garyKeorkunian commented on #15
Hello, all.  

It's been a while, but I think I might have a solution to this.

I created a branch with a POC inside of a new `squants2` package.

You can see a write up here:  [https://github.com/typelevel/squants/tree/generic-value-poc/shared/src/main/scala/squants](https://github.com/typelevel/squants/tree/generic-value-poc/shared/src/main/scala/squants)

Most of the core is refactored and work

[2022-05-20 21:29] hunterpayne commented on #15
Hi Gary,   It has been a while.  Here are some comments I hope are helpful from a quick look at your POC.
   I would suggest that you should be returning A instead of this.type in Quantity for operator overloads (or does the compiler not like that?). To do this, make A a self-type like here: https://github.com/hunterpayne/terra/blob/master/src/main/scala/org/terra/Quantity.scala#L23
Or does the co

[2022-05-21 05:39] garyKeorkunian commented on #15
Hi @hunterpayne!

Thanks for the quick feedback!  I'll take a look through it this weekend.

[2022-05-21 08:48] garyKeorkunian commented on #15
@hunterpayne 

Thanks for the comments.

1.   Self typing is used in the current model.  I found it difficult to get the numeric working the way I wanted, but I will revisit it.  Returning `this.type` seems to work OK, but it is ugly, and also requires some type-casting.  This is mostly because the `unit.apply` method is returning `Quantity[A, Mass.type]` instead of `Mass[A]`, which is really just

[2022-05-21 22:28] garyKeorkunian commented on #15
I just pushed an update that eliminates the QNumeric and uses the standard Numeric throughout.  Much simpler and more flexible.

I had to supply some default implementations for the rounding stuff, but an alternative could be supplied to the `map` function if the user code requires something different.  The trig functions are only limited places (`Angle` and `SVector`) so they return `Double` (for

[2022-05-22 12:53] hunterpayne commented on #15
For non-commutative operations, I was worried about usages like Long / Double => Long which is likely not what you want.  Forcing the numerator to be a Double would probably be what a user would want there.  Not sure which side the compiler would force an upcast for.  Most CPUs don't allow mixed type math operations so the compiler would just force casting somewhere.  Making that casting explicit

[2022-05-28 04:29] joesan opened #535 "Support for other currencies"
I tried the library for dealing with some Forex and I was hitting a "Not Implemented Exception" where I was trying ti read That bhat (THB) into a CurrencyCenverter with Money.parser(....). Is there a reason why only limited Currency types are supported?

[2022-05-29 00:39] garyKeorkunian commented on #535
It looks THB is not in the library.  I assume you created it?

If that's the case, you will need to override the defaultMoneyContext to include your currency as well.  As it is, the defaultMoneyContext only includes currencies defined in the library.

It's a case class, so you should be able to do something like

[code]

[2022-05-29 00:43] garyKeorkunian commented on #532
Yes, this is an anomaly with using Double as the underlying type.  It's compounded when you go from one non-Primary unit to another as both conversion factors need to be combined and then applied.

There is solid work in progress on making the underlying value type generic, allowing you to use BigDecimal, which reduces that problem significantly.

[2022-05-29 00:57] garyKeorkunian commented on #518
It looks like your trying to discover the quantity type from the unit symbol.  That creates a problem for the type system.

Normally squants would parse a string for a particular quantity type

[code]

but you would like to have something generic

[code]

and it would return the correct type.  However, what type is `something`?  That should be known at compile time.  It can't be Quantity\[Any\] as

[2022-05-29 01:04] garyKeorkunian commented on #491
NOTE - the website at squants.com is a GitHub page that displays the current README.

[2022-05-29 01:10] #339 closed

[2022-05-29 01:12] #331 closed

[2022-05-29 01:13] #329 closed

[2022-05-29 01:17] #310 closed

[2022-05-29 01:18] #309 closed

[2022-05-29 01:21] #257 closed

[2022-05-31 05:56] joesan commented on #535
Thanks for the hint. I think I did that already but nevertheless was running into some exceptions:

![squants_error](https://user-images.githubusercontent.com/3284487/171102454-59c365e2-705f-405c-8531-32d3946c1840.png)

I'm using the version: "1.6.0" and when I run, I get the Not Implemented Exception:

[code]

[2022-05-31 08:05] tonicebrian commented on #518
I think you understood the problem I have and partly answered it cannot be done. My use case is that I need to parse a CSV containing a bill of materials with a description and a quantity so I wanted to have something like:

[code]

So basically I want a container of quantities (in my case quantities will only be of kind Mass, Area and Unit) but later I want to group them by dimension. But as you

[2022-06-15 23:59] AtelierFox commented on #253
Has there been any progress on this? Is this something that we could work on? This has become relevant in a project of ours, and we'd much rather provide a patch to squants than to give up on using it. Allowing for arbitrary Numeric types is a lot of work, but it's worth doing in our eyes.

[2022-06-16 00:46] AtelierFox commented on #15
The trig operations are all defined for complex numbers, yes, however there are rules that are not the same as real trig.
sin(i) == i * sinh(1) for example

So complex trig would likely need its own implementation

[2022-06-16 19:40] hunterpayne commented on #15
What does spire do for that example?  Do they have their own trig functions they provide?

Hunter

    On Wednesday, June 15, 2022 at 05:46:21 PM PDT, AtelierFox ***@***.***> wrote:

The trig functions probably can't be well defined for things that are not floating point numbers so that's probably good. I am not sure if sin(i) is defined according to a mathematician.

The trig operations are all d

[2022-07-08 11:17] kushtehlan opened #543 "Is it possible to create custom units in the library?"
Hey Guys,

I know it's not an issue but just wanted to know if is it possible to create custom units in the library.

E.g. i want to define new unit , lets say abc and the value of that would be  1 * MegawattPerHour * 2

I mean  can we create our own custom units in this library and use it.

[2022-07-08 14:27] Bersier opened #544 "Build failure with Squants dependency: I'm probably doing it wrong"
I tried adding Squants as a dependency to my build, as mentioned in the Squants documentation.

Here is my build.sbt file:

`ThisBuild / version := "0.1.0-SNAPSHOT"

ThisBuild / scalaVersion := "3.1.3"

lazy val root = (project in file("."))
  .settings(
    name := "exchanger",
    libraryDependencies += "org.typelevel"  %% "squants"  % "1.6.0",
  )
`

sbt returns the error "sbt task failed, see

[2022-07-15 13:57] Lasering commented on #443
A very similar used to exist in DefaultFormatter:

[code]